@page "/investment-models"

@inherits ModelIndex<InvestmentStrategy>

<PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

<ThemedComponent>
    <ModelPageHeader ActionMenu="@SectionNavigationMenu" Header="@(PageTitle.ReadMany())" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <DataGrid Data="@Entries" class="datagrid">
                    <DataGridColumn Property=@nameof(InvestmentStrategy.DisplayName)
                                Caption=@(NameFor(x => x.DisplayName))
                                Type=@DataGridCellType.Link>
                        <CellTemplate Context="model">
                            <a href=@(FormatDetailUri(model.InvestmentStrategyId)) @onclick:preventDefault 
                                @onclick="@(args => Detail_OnClick(model, args))">
                                @model.DisplayName
                            </a>
                        </CellTemplate>
                    </DataGridColumn>
                </DataGrid>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    private void Detail_OnClick(InvestmentStrategy model, MouseEventArgs args)
    {
        NavigationHelper.NavigateTo(FormatDetailUri(model.InvestmentStrategyId));
    }
}