@page "/market-indices/{ModelId:int}/detail"

@inherits ModelDetail<MarketIndex>

<ThemedComponent>
    @if(IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.ReadSingle(Model.IndexCode).AsPageTitle())</PageTitle>

        <ModelPageHeader 
            ActionMenu="@SectionNavigationMenu"
            Header="@(PageTitle.ReadSingle(Model.IndexCode))" />

        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <CascadingValue Value="@Model" >
                    <EditForm class="model-editor" Model="@Model">
                        <MarketIndexCRUD Disabled="false" ReadOnly="true" />
                    </EditForm>
                </CascadingValue>
            </Body>
        </ContentTile>
    }
</ThemedComponent>


@code{
    [Parameter]
    public int ModelId { get; init; }
  
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var modelQuery = await Controller.ReadAsync(ModelId);
            if(modelQuery.Value is MarketIndex index)
                Model = index;
        }
        finally
        {
            IsLoading = Model is null;
        }
    }
}