@typeparam TModel

@inherits LocalizedComponent

<div>
    <label hidden=@SearchIsValid class="alert-info">@SearchErrorMessage</label>
</div>
<div>
    <table class="table parameter-table">
        <tbody>
            <tr>
                <td>
                    <label>
                        @Resources.Strings.Caption_InputSelect_SearchField
                    </label>
                </td>
                <td>
                    <select class="form-control selectpicker" @bind="@CurrentSearchMemberName" id="SearchFieldSelect">
                        @foreach (var field in SearchFields)
                        {
                            <option value="@field.QualifiedMemberName">@field.Display?.GetName()</option>

                        }
                    </select>
                </td>
                <td>
                    <select class="form-control selectpicker" @bind="@CurrentSearchOperator" id="search-operator-select">
                        @foreach (var op in ComparisonOperators)
                        {
                            <option value=@op>@(ModelMetadata.NameFor<ComparisonOperator>($"{op}"))</option>
                        }
                    </select>
                </td>
                <td>
                    <input @bind="SearchValue" />
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="@(args => SearchSubmitted(args))">
                        @Resources.Strings.Caption_Button_Search
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
