<div class="navmenu">
    <div class="navmenu-anchor" @onclick="@(args => OnMenuClick(args))">
        <IonIcon Name="apps" />
    </div>
    <div class="navmenu-title @VisibleClass">Main Menu</div>
    <div class="navmenu-grid @VisibleClass">
        @foreach (var navIcon in MenuItems!.Where(n => !n.IsIncomplete))
        {
            <div class="navmenu-tile">
                <IonIcon Name="@navIcon.IconKey"
                        @onclick="@(args => OnIconClick(navIcon, args))" />
                <div class="navmenu-caption">@navIcon.Caption</div>
            </div>
        }
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets the height and width of member buttons.
    /// </summary>
    [Parameter]
    public int ButtonSize { get; set; } = 64;

    /// <summary>
    /// Gets or sets the collection of <see cref="NavMenuItem" /> objects to add.
    /// </summary>
    [Parameter]
    public IReadOnlySet<NavMenuItem>? MenuItems { get; set; }

    /// <summary>
    /// Gets or sets the <see cref="NavigationManager" /> instance for this collection.
    /// </summary>
    [Parameter]
    public NavigationManager NavigationHelper
    {
        get
        { 
            return _navigationHelper; 
        }
        set
        {
            _navigationHelper ??= value;
        }
    }
    
    /// <summary>
    /// Gets or sets whether the menu collection is expanded or collapsed.
    /// </summary>
    public bool Collapsed { get; set; } = false;

    /// <summary>
    /// Flags collapsable components class attributes according to the current state.
    /// </summary>
    private string VisibleClass
    {
        get { return Collapsed ? "visible" : "hidden"; }
    }

    private NavigationManager _navigationHelper = default!;


    private void OnIconClick(NavMenuItem menuItem, MouseEventArgs args)
    {
        // TODO: Add some logic for different behavior when shift click is used.
        if (args.Button == 0)
        {
            if (NavigationHelper is null ||
                string.IsNullOrEmpty(NavigationHelper.BaseUri) ||
                string.IsNullOrEmpty(menuItem.UriStem))
                return;

            Uri uri = NavigationHelper.ToAbsoluteUri(menuItem.UriStem);
            NavigationHelper.NavigateTo(uri.AbsoluteUri);
        }
    }

    private void OnMenuClick(MouseEventArgs args)
    {
        Collapsed = !Collapsed;
    }

}
