@page "/market-indices/rates/edit"

@inherits ModelListPage<MarketIndexPrice>

<PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

<ThemedComponent>
    <ModelPageHeader ActionMenu="@SectionNavigationMenu" Header="@(PageTitle.ReadMany())" />

    @if(SearchFields is null)
    {
        <LoadingSvg />
    }
    else
    {
        <ContentTile>
            <Body>
                <SearchInputTable TModel="MarketIndexPrice"
                    ComparisonOperators=@ComparisonOperators
                    ExpressionBuilder=@ExpressionBuilder
                    SearchFields=@SearchFields
                    OnSearchClick=@(async (args) => await SearchClicked(args))>
                </SearchInputTable>
            </Body>
        </ContentTile>
    }

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <EditForm width="100%" EditContext="@Context">
            <DataAnnotationsValidator />
            <ActionButtonMenu>
                <button class="form-control button"
                    @onclick="@(async (args) => await Submit_OnClick(context, args))">
                    @Strings.Caption_Button_Save
                </button>
                <button class="form-control button"
                    @onclick="(async (args) => await AddNewAsync(args))">
                    @Strings.Caption_CreateNew.Format(ModelNoun?.GetSingular())
                </button>
                <button class="form-control button" @onclick="Cancel_OnClick"
                    @onclick:preventDefault>
                    @Strings.Caption_Button_Cancel
                </button>
            </ActionButtonMenu>
            <ContentTile>
                <Body>
                    <ValidationSummary />
                    <DataGrid Data="@Entries">
                        <DataGridColumn Property=@nameof(MarketIndexPrice.MarketIndexId)
                                    Type="DataGridCellType.Control"
                                    Caption=@(NameFor(x => x.MarketIndexId))>
                            <CellEditTemplate Context="model">
                                <InputSelect class="form-control"
                                    @bind-Value="@model.MarketIndexId">
                                    @foreach (var lookup in MarketIndexLookup)
                                    {
                                        <option value=@lookup.Key>@lookup.Display</option>
                                    }
                                </InputSelect>
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(MarketIndexPrice.PriceCode)
                                    Type="DataGridCellType.Control"
                                    Caption=@(NameFor(x => x.PriceCode))>
                            <CellEditTemplate Context="model">
                                <InputSelect class="form-control"
                                    @bind-Value="@model.PriceCode">
                                    @foreach (var lookup in PriceCodeLookup)
                                    {
                                        <option value=@lookup.Key>@lookup.Display</option>
                                    }
                                </InputSelect>
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(MarketIndexPrice.PriceDate)
                                    Type="DataGridCellType.Control"
                                    Caption=@(NameFor(x => x.PriceDate))>
                            <CellEditTemplate Context="model">
                                <InputDate class="form-control" @bind-Value="@model.PriceDate" />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(MarketIndexPrice.Price)
                                    Type="DataGridCellType.Control"
                                    Caption=@(NameFor(x => x.Price))>
                            <CellEditTemplate Context="model">
                                <InputNumber class="form-control" @bind-Value="@model.Price" />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Type="DataGridCellType.Button">
                            <CellEditTemplate Context="model">
                                <ToolTip Text="@Strings.Caption_Button_Delete">
                                    <button class="form-control button icon"
                                        type="button"
                                        @onclick="async (args) => await DeleteAsync(args, model)">
                                        <IonIcon Name="close-circle" />
                                    </button>
                                </ToolTip>
                            </CellEditTemplate>
                        </DataGridColumn>
                    </DataGrid>
                </Body>
            </ContentTile>
        </EditForm>
    }
</ThemedComponent>

@code {

    private IEnumerable<LookupModel<string, string>> PriceCodeLookup { get; set; }

    private IEnumerable<LookupModel<int, string>> MarketIndexLookup {get; set;}

    private int MaxRecordCount { get; set; } = 100;

    private DateTime GetLastBusinessDay()
    {
        var currentDateTime = DateTime.UtcNow;

        DateTime lastBusinessDate = currentDateTime.DayOfWeek switch
        {
            DayOfWeek.Saturday => currentDateTime.Date.AddDays(-1),
            DayOfWeek.Sunday => currentDateTime.Date.AddDays(-2),
            _ => currentDateTime.Date
        };

        return lastBusinessDate;
    }
    private Expression<Func<MarketIndexPrice, bool>> InitialSearchExpression { get; set; }

    #region Search componenents
    /// <summary>
    /// Gets or sets the <see cref="IExpressionBuilder"/> for this component.
    /// </summary>
    [Inject]
    protected IExpressionBuilder ExpressionBuilder { get; set; } = default!;

    /// <summary>
    /// Gets or sets the collection of searchables fields for the type: <typeparamref name="TModel"/>.
    /// </summary>
    private IEnumerable<ISearchableMemberMetadata> SearchFields { get; set; }
        = Array.Empty<ISearchableMemberMetadata>();

    /// <summary>
    /// Gets or sets the collection of allowable <see cref="ComparisonOperator"/> for
    /// the type: <typeparamref name="TModel"/>.
    /// </summary>
    private IEnumerable<ComparisonOperator> ComparisonOperators { get; set; }
        = Array.Empty<ComparisonOperator>();

    #endregion

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            if (ExpressionBuilder is null)
                throw new ArgumentNullException(paramName: nameof(ExpressionBuilder));

            if (Controller is null)
                throw new ArgumentNullException(paramName: nameof(Controller));

            DateTime lastBusinessDay = GetLastBusinessDay();

            // InitialSearchExpression = x => x.PriceDate == lastBusinessDay;
            InitialSearchExpression = x => true;

            SearchFields = ExpressionBuilder!.GetSearchableMembers<MarketIndexPrice>();
            ComparisonOperators = ExpressionBuilder!.GetComparisonOperators();

            var queryActionResultTask = Controller!
                .SelectWhereAsync(InitialSearchExpression, MaxRecordCount);

            var indexDtosTask = Controller.ReferenceQueries.GetMarketIndexDTOsAsync();

            var priceCodeDtoTask = Controller.ReferenceQueries
                .SelectDTOsFromEnum<MarketIndexPriceCode, string, string>(
                    predicate: x => true,
                    key: x => x.ConvertToStringCode(),
                    display: x => NameFor<MarketIndexPriceCode>(x),
                    placeHolderDelegate: () => new LookupModel<string, string>()
                    {
                        Key = string.Empty,
                        Display = Resources.Strings.Caption_InputSelect_Placeholder
                    });


            var dataTasks = Task.WhenAll(queryActionResultTask, indexDtosTask, priceCodeDtoTask);
            await dataTasks;

            if(dataTasks.Status == TaskStatus.RanToCompletion)
            {
                Entries = (await queryActionResultTask).Value?.ToList();
                MarketIndexLookup = (await indexDtosTask).Value;
                PriceCodeLookup = (await priceCodeDtoTask).Value;
                Context = new(Entries);
            }

        }
        finally
        {
            IsLoading = Entries is null
                || Context is null
                || MarketIndexLookup is null
                || PriceCodeLookup is null;
        }
    }

    /// <inheritdoc/>
    protected override void Cancel_OnClick() => 
        NavigationHelper.NavigateTo($"{IndexUriRelativePath}/rates");

    /// <summary>
    /// Handles search submission events that that contain
    /// <see cref="SearchSubmittedEventArgs{TModel}"/> data.
    /// </summary>
    /// <param name="args">The <see cref="SearchSubmittedEventArgs{TModel}"/> that
    /// containst the data for the invoked event.</param>
    /// <returns>A task representing an asynchronous operator. Successful ooperation will
    /// cause <see cref="Entries"/> to update to the collection matching the event arguments
    /// search expression.</returns>
    private async Task SearchClicked(SearchSubmittedEventArgs<MarketIndexPrice> args)
    {
        try
        {
            IsLoading = true;
            if (args is not null)
            {
                var actionResult = await Controller!.SelectWhereAsync(
                        predicate: args.SearchExpression, maxCount: MaxRecordCount);

                Entries = actionResult.Value?.ToList() ?? new List<MarketIndexPrice>();
            }
        }
        finally
        {
            IsLoading = false;
        }
    }
}
