<li class="menu-item @Class">
    @if(string.IsNullOrEmpty(MenuItem.UriStem))
    {
        <div class="icon">
            <IonIcon Name="@MenuItem.IconKey" class="@MenuItem.IconKey" />
        </div>
        <div class="caption">
            @MenuItem.Caption
        </div>
    }
    else
    {
        <a class="nav-link" href="@MenuItem.UriStem">
            <div class="icon">
                <IonIcon Name="@MenuItem.IconKey" class="@MenuItem.IconKey" />
            </div>
            <div class="caption">
                @MenuItem.Caption
            </div>
        </a>
    }
    @if(MenuItem.HasChildren)
    {
        <ul class="menu-item dropdown">
            @foreach(var child in MenuItem.Children)
            {
                <MenuStripItem MenuItem=@child.Value />
            }
        </ul>
    }
</li>

@code{
    [Parameter]
    public MenuItem MenuItem { get; set; }

    [Parameter]
    public string Class { get; set; } = "dropdown";
}