@using System.Text.Json;

<div class="menu">
    <div class="menu-root">
        @if (!string.IsNullOrEmpty(Menu?.Caption))
        {
            <div class="menu-item">
                <a href="@Menu.UriStem">
                    @Menu.Caption
                </a>
            </div>
        }
        @if (Menu is not null && Menu.HasChildren)
        {
            @foreach (var item in Menu.Children)
            {
                <div id="menu-key-@item.Key" class="menu-item dropdown-anchor">
                    <a href="@item.Value.UriStem">
                        @item.Value.Caption
                    </a>
                    @if (item.Value.HasChildren)
                    {
                        <div class="dropdown-content">
                            @foreach (var subItem in item.Value.Children)
                            {
                                <div class="menu-item detail">
                                    <a href="@subItem.Value.UriStem">
                                        @subItem.Value.Caption
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
@code {
    [Parameter]
    public Menu? Menu { get; set; }
}
