@page "/security-types/{SecurityTypeId:int}/edit"

@inherits ModelDetail<SecurityType>

@inject IQueryService QueryService

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.UpdateSingle(Model.SecurityTypeName).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader ActionMenu="@ActionMenu"
                         Header="@(PageTitle.UpdateSingle(Model.SecurityTypeName))" />

        <ContentTile>
            <Body>
                <CascadingValue Value="@Model">
                    <EditForm class="model-editor" Model="@Model"
                        OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ActionButtonMenu>
                            <button type="submit" class="form-control button">
                                @Strings.Caption_Button_Save
                            </button>
                            <button type="button" class="form-control button"
                                @onclick="Delete_OnClick"
                                @onclick:preventDefault>
                                @Strings.Caption_Button_Delete
                            </button>
                            <button type="button" class="form-control button"
                                @onclick="Cancel_OnClick"
                                @onclick:preventDefault>
                                @Strings.Caption_Button_Cancel
                            </button>
                        </ActionButtonMenu>
                        <SecurityTypeCRUD Disabled="false" ReadOnly="false"
                            SecurityTypeGroups="@SecurityTypeGroups" />
                    </EditForm>
                </CascadingValue>
            </Body>
        </ContentTile>
    }
</ThemedComponent>


@code {
    /// <summary>
    /// Gets or sets the identifier for the <see cref="SecurityType" /> worked using this page.
    /// </summary>
    [Parameter]
    public int SecurityTypeId { get; set; }

    private IEnumerable<LookupModel<int, string>> SecurityTypeGroups { get; set; }

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var modelQuery = Controller.ReadAsync(SecurityTypeId);
            var typeGroupsQuery = QueryService.GetSecurityTypeGroupDTOsAsync();

            await Task.WhenAll(modelQuery, typeGroupsQuery);

            SecurityTypeGroups = await typeGroupsQuery;

            if ((await modelQuery).Value is SecurityType model)
                Model = model;
        }
        finally
        {
            IsLoading = Model is null || SecurityTypeGroups is null;
        }
    }

    private void Cancel_OnClick()
    {
        NavigationHelper.NavigateTo(FormatDetailUri(SecurityTypeId));
    }

    private async Task Delete_OnClick()
    {
        var result = await Controller.DeleteAsync(Model!);

        if (result is NoContentResult ncr)
            NavigationHelper.NavigateTo(IndexUriRelativePath);
    }

    private async Task HandleValidSubmit()
    {
        var result = await Controller.UpdateAsync(SecurityTypeId, Model);

        if (result.Value is not null)
            NavigationHelper.NavigateTo(FormatDetailUri(result.Value.SecurityTypeId));
    }
}