@page "/InvestmentModels/{ModelId:int}/Edit"

@inherits AttributeEntryCollectionEdit<
    InvestmentModelViewModel, 
    InvestmentModelTargetViewModel, 
    InvestmentStrategy, 
    InvestmentStrategyTarget>

@inject IReferenceDataService ReferenceData

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.UpdateSingle(ViewModel.DisplayName).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader ActionMenu="@ActionMenu"
                         Header="@(PageTitle.UpdateSingle(ViewModel.DisplayName))" />

        @if (DrawViewModelChildModelEditor)
        {
            <CascadingValue Value="@CurrentViewModelChild">
                <CascadingValue Value="@CurrentAttributeMemberLookup">
                    <AttributeTargetModalCRUD 
                        TViewModel="InvestmentModelTargetViewModel"
                            OnClose="OnModalEditor_ViewModelChild_Closed">
                        <InvestmentModelTargetCRUD Disabled="false" ReadOnly="false" />
                    </AttributeTargetModalCRUD>
                </CascadingValue>
            </CascadingValue>
        }

        @if(DrawAttributeSelectorDialog)
        {
            <AttributeSelectorModal 
                OnClose="OnModalAttributeSelectorClosed"
                AllowableAttributes="@AllowableModelAttributes">
            </AttributeSelectorModal>
        }

        <ActionButtonMenu>
            <button type="submit" form="@FormGuid" class="form-control button">
                @Resources.Strings.Caption_Button_Save
            </button>
            <button type="button" class="form-control button"
                @onclick="AddNewTarget_OnClick"
                @onclick:preventDefault>
                @(string.Format(
                    Resources.Strings.Caption_Button_Add,
                    ModelMetadata.NounFor(typeof(InvestmentStrategyTarget)).GetSingular()))
            </button>
            <button type="button" class="form-control button"
                @onclick="Delete_OnClick"
                @onclick:preventDefault>
                @Resources.Strings.Caption_Button_Delete
            </button>
            <button type="button" class="form-control button"
                @onclick="Cancel_OnClick"
                @onclick:preventDefault>
                @Resources.Strings.Caption_Button_Cancel
            </button>
        </ActionButtonMenu>
        <ContentTile class="left">
            <Body>
                <CascadingValue Value="@ViewModel">
                    <EditForm id="@FormGuid" Model="@ViewModel" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <InvestmentModelCRUD Disabled="false" ReadOnly="false" />
                    </EditForm>
                </CascadingValue>
            </Body>
        </ContentTile>
        @foreach (var group in ViewModel.AttributeTargetCollection)
        {
            <ContentTile>
                <TitleAlignLeft>
                    @group.Key.DisplayName
                </TitleAlignLeft>
                <TitleAlignRight>
                    <button
                        class="form-control button icon"
                        type="button" 
                        @onclick="(() => AddEntryForGrouping(group.Key))">
                        <IonIcon Name="add" />
                    </button>
                </TitleAlignRight>
                <Body>
                    <DataGrid Data="group">
                        <DataGridColumn Type="DataGridCellType.Link"
                                Property="@nameof(InvestmentModelTargetViewModel.EffectiveDate)"
                                Caption=@(NameFor<InvestmentModelTargetViewModel>(
                                    nameof(InvestmentModelTargetViewModel.EffectiveDate)))>
                            <CellTemplate Context="model">
                                <a 
                                    @onclick:preventDefault
                                    @onclick="(() => ViewModelChild_OnSelected(model))">
                                    @model.EffectiveDate.ToShortDateString()
                                </a>
                            </CellTemplate>
                        </DataGridColumn>
                    </DataGrid>
                </Body>
            </ContentTile>
        }
    }
</ThemedComponent>

@code {
    /// <summary>
    /// Gets or sets the identifier for the <see cref="InvestmentStrategy" /> worked using this
    /// page.
    /// </summary>
    [Parameter]
    public int ModelId { get; set; }

    /// <summary>
    /// Gets or sets whether the modal dialog for selecting an attribute is drawn. Default is 
    /// <see cref="false" />.
    /// </summary>
    private bool DrawAttributeSelectorDialog { get; set; } = false;

    private readonly Guid FormGuid = Guid.NewGuid();

    protected override async Task OnInitializedAsync()
    {
        ActionMenu = new()
            {
                IconKey = "reorder-four",
                Children = new()
                {
                    // Add index button.
                    { 0, new MenuItem()
                        {
                            IconKey = "list",
                            Caption = $"{Resources.Strings.Caption_Button_Index}",
                            UriStem = $"{IndexUriRelativePath}"
                        }
                    },
                    // Add delete button.
                    { 1, new MenuItem()
                        {
                            IconKey = "close",
                            Caption = $"{Resources.Strings.Caption_Button_Delete} {ModelNoun.GetSingular()}",
                            UriStem = $"#"
                        }
                    }
                }
            };

        IsLoading = true;

        try
        {
            var attributeQuery = GetSupportedAttributesAsync();
            
            var modelQuery = Controller.ReadAsync(ModelId);

            if ((await modelQuery).Value is InvestmentStrategy model)
            {
                Model = model;
            }

            AllowableModelAttributes = await attributeQuery;

            ViewModel = new(Model);
        }
        finally
        {
            IsLoading = Model is null || ViewModel is null || AllowableModelAttributes is null;
        }
    }

    private void AddNewTarget_OnClick()
    {
        DrawAttributeSelectorDialog = true;
    }

    protected void Cancel_OnClick()
    {
        NavigationHelper.NavigateTo(FormatDetailUri(ModelId));
    }

    private async Task HandleValidSubmit()
    {
        Model = ViewModel.ToEntity();

        var result = await Controller.UpdateAsync(Model.InvestmentStrategyId, Model);

        if (result.Value is not null)
            NavigationHelper.NavigateTo(FormatDetailUri(result.Value.InvestmentStrategyId));
    }

    private async Task OnModalAttributeSelectorClosed(ModalEventArgs<ModelAttribute> modalEventArgs)
    {
        DrawAttributeSelectorDialog = false;

        switch(modalEventArgs.Result)
        {
            case DialogResult.OK:
                if (modalEventArgs.Model is not null)
                    await AddEntryForGrouping(modalEventArgs.Model);
                break;
            case DialogResult.Cancel:
                break;
            default:
                throw new NotSupportedException();
        }

        StateHasChanged();
    }
}