@page "/InvestmentModels"

@inherits ModelIndex<InvestmentStrategy>

<PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

<ThemedComponent>

    <ModelPageMenuHeader ActionMenu="@ActionMenu" Header="@(PageTitle.ReadMany())" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <DataGrid Data="@Models" class="datagrid">
            <DataGridColumn Property=@nameof(InvestmentStrategy.DisplayName)
                        Caption=@(NameFor<AccountCustodian>(nameof(AccountCustodian.CustodianCode)))>
                <CellTemplate Context="model">
                    <a href=@(FormatDetailUri(model.InvestmentStrategyId)) @onclick:preventDefault 
                        @onclick="@(args => Detail_OnClick(model, args))">
                        @model.DisplayName
                    </a>
                </CellTemplate>
            </DataGridColumn>
        </DataGrid>
    }
</ThemedComponent>

@code {
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        ActionMenu = new()
        {
            IconKey = "reorder-four",
            Children = new()
            {
                { 0, new MenuItem()
                    {
                        IconKey = "create",
                        Caption = $"Create new {ModelNoun.GetSingular()}",
                        UriStem = FormatCreateUri(Guid.NewGuid())
                    }
                }
            }
        };

        MaxRecordCount = -1;

        await base.OnInitializedAsync();
    }

    private void Detail_OnClick(InvestmentStrategy model, MouseEventArgs args)
    {
        NavigationHelper.NavigateTo(FormatDetailUri(model.InvestmentStrategyId));
    }
}