@inherits ModelCRUD<BankTransactionCodeDto>

@if (ModelDto is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="BankTransactionCodeDto">
        <ModelFormEntry ForMember="@(() => ModelDto.TransactionCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.TransactionCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.TransactionCode
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.TransactionCode))" />
            }
        </ModelFormEntry>
        <ModelFormEntry ForMember="@(() => ModelDto.DisplayName)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.DisplayName
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.DisplayName
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.DisplayName))" />
            }
        </ModelFormEntry>
    </ModelForm>
}
