@inherits ModelCRUD<BrokerTransactionCodeDto>

@if (ModelDto is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="BrokerTransactionCodeDto">
        <ModelFormLineItem ForMember="@(() => ModelDto.TransactionCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.TransactionCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.TransactionCode
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.TransactionCode))" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.DisplayName)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.DisplayName
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.DisplayName
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.DisplayName))" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.CashEffect)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.CashEffect
                </div>
            }
            else
            {
                <InputNumber class="form-control" @bind-Value=ModelDto.CashEffect
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.CashEffect))" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.ContributionWithdrawalEffect)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.ContributionWithdrawalEffect
                </div>
            }
            else
            {
                <InputNumber class="form-control" @bind-Value=ModelDto.ContributionWithdrawalEffect
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.ContributionWithdrawalEffect))" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.QuantityEffect)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.QuantityEffect
                </div>
            }
            else
            {
                <InputNumber class="form-control" @bind-Value=ModelDto.QuantityEffect
                    disable="@Disabled"
                    DisplayName="@(NameFor(x => x.QuantityEffect))" />
            }
        </ModelFormLineItem>
    </ModelForm>
}
