@inherits ModelCRUD<Country>

@if (IsLoading)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="Country">
        <ModelFormLineItem ForMember="@(() => ModelDto.DisplayName)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.DisplayName
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.DisplayName
                   disable="@Disabled"
                   DisplayName=@(NameFor(x => x.DisplayName)) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.IsoCode3)">
            @if (ReadOnly)
            {
                <div class="form-control text-area">
                    @ModelDto.IsoCode3
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.IsoCode3
                   disable="@Disabled"
                   DisplayName=@(NameFor(x => x.IsoCode3)) />
            }
        </ModelFormLineItem>
    </ModelForm>
}