@inherits ModelCRUD<CountryAttributeGrouping>

@if (IsLoading)
{
    <LoadingSvg />
}
else
{
    <ContentTile>
        <TitleAlignLeft>
            @ModelDto.ParentAttribute.DisplayName
            @if (ReadOnly)
            {
                <span class="sub-title">
                    (@ModelDto.EffectiveDate.ToShortDateString())
                </span>
            }
        </TitleAlignLeft>
        <TitleAlignRight>
            @if (!ReadOnly)
            {
                <label for="add-new-entry-button">
                    @(NameFor(x => x.EffectiveDate))
                </label>
                <InputDate class="form-control right" @bind-Value="@ModelDto.EffectiveDate"
                   @onchange="RefreshState" />
                <button id="add-new-entry-button"
                class="form-control button icon"
                type="button"
                @onclick="AddNew_OnClick">
                    <IonIcon Name="add" />
                </button>
            }

        </TitleAlignRight>
        <Body>
            <DataGrid Data="@ModelDto.Entries">
                <ValidationMessage For=@(() => ModelDto.SumOfMemberWeights) />
                @if (ReadOnly)
                {
                    <DataGridColumn Property=@nameof(CountryAttributeMemberEntry.AttributeMemberId)
                            Caption=@(ModelMetadata.NameFor<CountryAttributeMemberEntry>(x => x.AttributeMemberId))>
                        <CellTemplate Context="model">
                            @model.AttributeMember.DisplayName
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn Property=@nameof(CountryAttributeMemberEntry.Weight)
                            Caption=@(ModelMetadata.NameFor<CountryAttributeMemberEntry>(x => x.Weight))>
                        <CellTemplate Context="model">
                            @model.Weight
                        </CellTemplate>
                    </DataGridColumn>
                }
                else
                {
                    <DataGridColumn Property=@nameof(CountryAttributeMemberEntry.AttributeMemberId)
                            Caption=@(ModelMetadata.NameFor<CountryAttributeMemberEntry>(x => x.AttributeMemberId))>
                        <CellEditTemplate Context="model">
                            <InputSelect class="form-control"
                                 @bind-Value="@model.AttributeMemberId">
                                @foreach (var member in AttributeMemberLookup)
                                {
                                    <option value="@member.Key">@member.Display</option>
                                }
                            </InputSelect>
                        </CellEditTemplate>
                    </DataGridColumn>
                    <DataGridColumn Property=@nameof(CountryAttributeMemberEntry.Weight)
                            Caption=@(ModelMetadata.NameFor<CountryAttributeMemberEntry>(x => x.Weight))>
                        <CellEditTemplate Context="model">
                            <InputNumber class="form-control" @bind-Value="@model.Weight" />
                        </CellEditTemplate>
                    </DataGridColumn>
                    <DataGridColumn Type="DataGridCellType.Button">
                        <CellEditTemplate Context="model">
                            <button class="form-control button icon"
                            type="button"
                            @onclick="(args) => RemoveExisting_OnClick(args, model)">
                                <IonIcon Name="close-circle" />
                            </button>
                        </CellEditTemplate>
                    </DataGridColumn>
                }
            </DataGrid>
        </Body>
    </ContentTile>
}

@code {
    [CascadingParameter]
    public IEnumerable<LookupModel<int, string>> AttributeMemberLookup { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        IsLoading = ModelDto is null || (ReadOnly ^ (AttributeMemberLookup is null));
    }

    private void AddNew_OnClick(MouseEventArgs e)
    {
        // TODO: Do something with MouseEventArgs ?

        ModelDto.AddNewEntry();
    }

    private void RemoveExisting_OnClick(MouseEventArgs e, CountryAttributeMemberEntry entry)
    {
        // TODO: Do something with MouseEventArgs ?

        ModelDto.RemoveEntry(entry);
    }

    private void RefreshState(EventArgs args) => StateHasChanged();
}