@inherits ModelCRUD<MarketIndexDto>

@if(ModelDto is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="MarketIndexDto">
        <ModelFormEntry ForMember="@(() => ModelDto.IndexCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.IndexCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.IndexCode
                   disable="@Disabled"
                   DisplayName=@(NameFor(x => x.IndexCode)) />
            }
        </ModelFormEntry>
        <ModelFormEntry ForMember="@(() => ModelDto.IndexDescription)">
            @if(ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.IndexDescription
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ModelDto.IndexDescription
                    disable="@Disabled"
                    DisplayName="@NameFor(x => x.IndexDescription)" />
            }
        </ModelFormEntry>
    </ModelForm>
}
