@inherits ModelCRUD<ReportStyleSheet>

@if (ModelDto is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="ReportConfiguration">
        <ModelFormLineItem ForMember="@(() => ModelDto.StyleSheetCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.StyleSheetCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ModelDto.StyleSheetCode"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.StyleSheetCode)" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.StyleSheetDescription)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.StyleSheetDescription
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ModelDto.StyleSheetDescription"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.StyleSheetDescription)" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ModelDto.XmlDefinition)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.XmlDefinition
                </div>
            }
            else
            {
                <InputTextArea class="form-control" @bind-Value="ModelDto.XmlDefinition"
                       disable="@Disabled"
                       DisplayName="@NameFor(x => x.XmlDefinition)" />
            }
        </ModelFormLineItem>
    </ModelForm>
}