@inherits ModelCRUD<ReportConfigurationDto>

@if(ModelDto is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="ReportConfigurationDto">
        <ModelFormEntry ForMember="@(() => ModelDto.ConfigurationCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.ConfigurationCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ModelDto.ConfigurationCode"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.ConfigurationCode)" />
            }
        </ModelFormEntry>
        <ModelFormEntry ForMember="@(() => ModelDto.ConfigurationDescription)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.ConfigurationDescription
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ModelDto.ConfigurationDescription"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.ConfigurationDescription)" />
            }
        </ModelFormEntry>
        <ModelFormEntry ForMember="@(() => ModelDto.XmlDefinition)">
            @if(ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.XmlDefinition
                </div>
            }
            else
            {
                <InputTextArea class="form-control" @bind-Value="ModelDto.XmlDefinition"
                    disable="@Disabled"
                   DisplayName="@NameFor(x => x.XmlDefinition)" />
            }
        </ModelFormEntry>
    </ModelForm>
}