@page "/Accounts/Edit/{AccountId:int}"

@inherits ModelCRUD<Account>

@inject IReferenceDataService ReferenceData

<div><h4>@PageTitle</h4></div>

<div>
    <button class="btn btn-primary" @onclick=NavigateToIndex>
        @Resources.UserInterfaceString.Index_Button_Caption
    </button>
    <button class="btn btn-primary" @onclick=@(args => HandleDelete(args))>
        @Resources.UserInterfaceString.Delete_Button_Caption
    </button>
</div>
<hr />

@if (IsLoading)
{
    <p><em>@Resources.UserInterfaceString.Page_Loading_Caption</em></p>
}
else
{
    <div>
        <AccountObjectCRUD Model="@Model.AccountNavigation" IsDisabled=false />
    </div>
    <div>
        <AccountCRUD Model="@Model" AccountCustodians=@custodians IsDisabled=false />
    </div>
    <div>
        <button type="submit" @onclick=@(args => HandleValidSubmit(args))>
            @Resources.UserInterfaceString.Save_Button_Caption
        </button>
    </div>
}

@code {
    [Parameter]
    public int? AccountId { get; set; }

    private IEnumerable<AccountCustodian> custodians;

    protected override async Task OnInitializedAsync()
    {   
        var accountQuery = await Controller.ReadAsync(AccountId);
        Model = accountQuery.Value;

        var custodiansQuery = await ReferenceData.GetAccountCustodiansAsync();
        custodians = custodiansQuery;

        IsLoading = (Model is null || custodians is null);
    }

    private async Task HandleDelete(MouseEventArgs args)
    {
        var result = await Controller.DeleteAsync(Model);

        if (result is NoContentResult)
            NavigateToIndex();
    }
    private async Task HandleValidSubmit(MouseEventArgs args)
    {
        var e = args;
        Logger.Information("HandleValidSubmit called");

        var result = await Controller.UpdateAsync(AccountId, Model);

        if (result.Value?.AccountId == AccountId)
            NavigateToDetail($"{Model?.AccountId}");
    }
}
