@inherits ModelDetail<Account>

@if (Model is null || AccountCustodians is null)
{
    <p><em>@StringResource.Page_Loading_Caption</em></p>
}
else
{
    <EditForm Model="@Model">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <dl class="row">
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.AccountNumber)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.AccountNumber)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.AccountNumber
                }
                else
                {
                    <InputText id="account-number" class="form-control"
                       @bind-Value=Model.AccountNumber />
                    <ValidationMessage For="@(() => Model.AccountNumber)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.AccountCustodianId)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.AccountCustodianId)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.AccountCustodian?.DisplayName
                }
                else
                {
                    <InputSelect id="account-custodian" class="form-control"
                         DisplayName="Model.AccountCustodian.CustodianCode"
                         @bind-Value="Model.AccountCustodianId">
                        @foreach (var custodian in AccountCustodians)
                        {
                            <option value=@custodian.AccountCustodianId>@custodian.DisplayName</option>
                        }
            </InputSelect>
                    <ValidationMessage For="@(() => Model.AccountCustodianId)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.DisplayOrder)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.DisplayOrder)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.DisplayOrder
                }
                else
                {
                    <InputNumber id="account-displayorder" class="form-control"
                         @bind-Value=Model.DisplayOrder />
                    <ValidationMessage For="@(() => Model.DisplayOrder)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(
                    nameof(Account.BooksClosedDate)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.BooksClosedDate)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.BooksClosedDate?.ToShortDateString()
                }
                else
                {
                    <InputDate id="account-bookscloseddate" class="form-control"
                       @bind-Value=Model.BooksClosedDate />
                    <ValidationMessage For="@(() => Model.BooksClosedDate)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(
                    nameof(Account.IsComplianceTradable)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.IsComplianceTradable)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.IsComplianceTradable
                }
                else
                {
                    <InputCheckbox id="account-iscompliancetradable"
                           @bind-Value=Model.IsComplianceTradable />
                    <ValidationMessage For="@(() => Model.IsComplianceTradable)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.HasWallet)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.HasWallet)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.HasWallet
                }
                else
                {
                    <InputCheckbox id="account-haswallet"
                           @bind-Value=Model.HasWallet />
                    <ValidationMessage For="@(() => Model.HasWallet)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata
                    .DescriptionFor<Account>(nameof(Account.HasBankTransaction)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.HasBankTransaction)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.HasBankTransaction
                }
                else
                {
                    <InputCheckbox id="account-hasbanktransaction"
                           @bind-Value=Model.HasBankTransaction />
                    <ValidationMessage For="@(() => Model.HasBankTransaction)" />
                }
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata
                    .DescriptionFor<Account>(nameof(Account.HasBrokerTransaction)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.HasBrokerTransaction)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @if (IsDisabled)
                {
                    @Model.HasBrokerTransaction
                }
                else
                {
                    <InputCheckbox id="account-hasbrokertransaction"
                           @bind-Value=Model.HasBrokerTransaction />
                    <ValidationMessage For="@(() => Model.HasBrokerTransaction)" />
                }
            </dd>
        </dl>
    </EditForm>
}
@code {
    [Parameter]
    public IEnumerable<AccountCustodian> AccountCustodians { get; set; }

    //private bool TestParam { get; set; }
}
