@inherits ModelCRUD<AccountViewModel>

@if (ViewModel is null || AccountCustodians is null)
{
    <LoadingSvg />
}
else
{   
    <ModelForm TViewModel="AccountViewModel">
        @*AccountObject inputs*@
        <ModelFormLineItem ForMember="@(() => ViewModel.AccountObjectCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.AccountObjectCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.AccountObjectCode
                    disable="@Disabled"
                    DisplayName=@(NameFor(x => x.AccountObjectCode)) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.DisplayName)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.DisplayName
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.DisplayName
                    disable="@Disabled"
                    DisplayName=@(NameFor(x => x.DisplayName)) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.Description)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.Description
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.Description
                    disable="@Disabled"
                    DisplayName=@(NameFor(x => x.Description)) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.StartDate)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.StartDate.ToShortDateString()
                </div>
            }
            else
            {
                <InputDate class="form-control" @bind-Value=ViewModel.StartDate 
                    disable="@Disabled" 
                    DisplayName=@(NameFor(x => x.StartDate))/>
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.CloseDate)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.CloseDate?.ToShortDateString()
                </div>
            }
            else
            {
                <InputDate class="form-control" @bind-Value=ViewModel.CloseDate 
                    disable="@Disabled"
                    DisplayName=@(NameFor(x => x.CloseDate)) />
            }
        </ModelFormLineItem>

        @*Account inputs*@
        <ModelFormLineItem ForMember="@(() => ViewModel.AccountNumber)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.AccountNumber
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.AccountNumber
                    disable="@Disabled"
                    DisplayName=@(NameFor(x => x.AccountNumber)) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.AccountCustodianId)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @CustodianDisplayName(ViewModel.AccountCustodianId)
                </div>
            }
            else
            {
                <InputSelect class="form-control"
                    DisplayName=@(NameFor(x => x.AccountCustodianId))
                    @bind-Value="ViewModel.AccountCustodianId"
                    disabled="@Disabled">
                    @foreach (var custodian in AccountCustodians)
                    {
                        <option value=@custodian.Key>@custodian.Display</option>
                    }
                </InputSelect>
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.BooksClosedDate)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.BooksClosedDate?.ToShortDateString()
                </div>
            }
            else
            {
                <InputDate class="form-control" @bind-Value=ViewModel.BooksClosedDate
                        disabled="@Disabled"
                        DisplayName=@(NameFor(x => x.BooksClosedDate))/>
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.IsComplianceTradable)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.IsComplianceTradable
                </div>
            }
            else
            {
                <InputCheckbox @bind-Value=ViewModel.IsComplianceTradable disabled="@Disabled" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.HasWallet)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.HasWallet
                </div>
            }
            else
            {
                <InputCheckbox @bind-Value=ViewModel.HasWallet disabled="@Disabled" />
                <ValidationMessage For="@(() => ViewModel.HasWallet)" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.HasBankTransaction)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.HasBankTransaction
                </div>
            }
            else
            {
                <InputCheckbox @bind-Value=ViewModel.HasBankTransaction disabled="@Disabled" />
                <ValidationMessage For="@(() => ViewModel.HasBankTransaction)" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.HasBrokerTransaction)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.HasBrokerTransaction
                </div>
            }
            else
            {
                <InputCheckbox @bind-Value=ViewModel.HasBrokerTransaction disabled="@Disabled" />
            }
        </ModelFormLineItem>
    </ModelForm>
}
@code {
    [Parameter]
    public IEnumerable<LookupModel> AccountCustodians { get; set; }

    private string? CustodianDisplayName(int? id) =>
         AccountCustodians.FirstOrDefault(a => a.Key == id)?.Display;
}
