@inherits ModelCRUD<Account>

@if (Model is null || AccountCustodians is null)
{
    <LoadingSvg />
}
else
{
    <EditForm Model="@Model">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ModelAttributeTable>
            <tbody>
                <tr>
                    <td class="col-sm-2">
                        <ToolTip Text="@(DescriptionFor(nameof(Account.AccountNumber)))">
                            @(NameFor(nameof(Account.AccountNumber)))
                        </ToolTip>
                    </td>
                    <td class="col-sm-10">
                        @if (Readonly)
                        {
                            @Model.AccountNumber
                        }
                        else
                        {
                            <InputText id="account-number" class="form-control"
                               @bind-Value=Model.AccountNumber
                               disable="@Disabled" />
                            <ValidationMessage For="@(() => Model.AccountNumber)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ToolTip Text="@(DescriptionFor(nameof(Account.AccountCustodianId)))">
                            @(NameFor(nameof(Account.AccountCustodianId)))
                        </ToolTip>
                    </td>
                    <td>
                        @if (Readonly)
                        {
                            @Model.AccountCustodian?.DisplayName
                        }
                        else
                        {
                            <InputSelect id="account-custodian" class="form-control"
                                 DisplayName="Model.AccountCustodian.CustodianCode"
                                 @bind-Value="Model.AccountCustodianId"
                                 disabled="@Disabled">
                                @foreach (var custodian in AccountCustodians)
                                {
                                    <option value=@custodian.Key>@custodian.Display</option>
                                }
                    </InputSelect>
                            <ValidationMessage For="@(() => Model.AccountCustodianId)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ToolTip Text="@(DescriptionFor(nameof(Account.BooksClosedDate)))">
                            @(NameFor(nameof(Account.BooksClosedDate)))
                        </ToolTip>
                    </td>
                    <td>
                        @if (Readonly)
                        {
                            @Model.BooksClosedDate?.ToShortDateString()
                        }
                        else
                        {
                            <InputDate id="account-bookscloseddate" class="form-control"
                               @bind-Value=Model.BooksClosedDate
                               disabled="@Disabled" />
                            <ValidationMessage For="@(() => Model.BooksClosedDate)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ToolTip Text="@(DescriptionFor(nameof(Account.IsComplianceTradable)))">
                            @(NameFor(nameof(Account.IsComplianceTradable)))
                        </ToolTip>
                    </td>
                    <td>
                        @if (Readonly)
                        {
                            @Model.IsComplianceTradable
                        }
                        else
                        {
                            <InputCheckbox id="account-iscompliancetradable"
                                   @bind-Value=Model.IsComplianceTradable
                                   disabled="@Disabled" />
                            <ValidationMessage For="@(() => Model.IsComplianceTradable)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ToolTip Text="@(DescriptionFor(nameof(Account.HasWallet)))">
                            @(NameFor(nameof(Account.HasWallet)))
                        </ToolTip>
                    </td>
                    <td>
                        @if (Readonly)
                        {
                            @Model.HasWallet
                        }
                        else
                        {
                            <InputCheckbox id="account-haswallet"
                                   @bind-Value=Model.HasWallet
                                   disabled="@Disabled" />
                            <ValidationMessage For="@(() => Model.HasWallet)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ToolTip Text="@(DescriptionFor(nameof(Account.HasBankTransaction)))">
                            @(NameFor(nameof(Account.HasBankTransaction)))
                        </ToolTip>
                    </td>
                    <td>
                        @if (Readonly)
                        {
                            @Model.HasBankTransaction
                        }
                        else
                        {
                            <InputCheckbox id="account-hasbanktransaction"
                                   @bind-Value=Model.HasBankTransaction
                                   disabled="@Disabled" />
                            <ValidationMessage For="@(() => Model.HasBankTransaction)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ToolTip Text="@(DescriptionFor(nameof(Account.HasBrokerTransaction)))">
                            @(NameFor(nameof(Account.HasBrokerTransaction)))
                        </ToolTip>
                    </td>
                    <td>
                        @if (Readonly)
                        {
                            @Model.HasBrokerTransaction
                        }
                        else
                        {
                            <InputCheckbox id="account-hasbrokertransaction"
                                   @bind-Value=Model.HasBrokerTransaction
                                   disabled="@Disabled" />
                            <ValidationMessage For="@(() => Model.HasBrokerTransaction)" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </ModelAttributeTable>
    </EditForm>
}
@code {
    [Parameter]
    public IEnumerable<LookupModel> AccountCustodians { get; set; }
}
