@inherits ModelCRUD<InvestmentModelViewModel>

@if(IsLoading)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModel="InvestmentModelViewModel">
        <ModelFormLineItem MemberName="@nameof(InvestmentModelViewModel.DisplayName)"
            ValidationMessageDelegate="@(() => ViewModel.DisplayName)">
            @if(ReadOnly)
            {
                @ViewModel.DisplayName
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.DisplayName
                    disable="@Disabled"
                    DisplayName=@(NameFor(nameof(InvestmentModelViewModel.DisplayName))) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem MemberName="@nameof(InvestmentModelViewModel.Notes)"
            ValidationMessageDelegate="@(() => ViewModel.Notes)">
            @if(ReadOnly)
            {
                <div class="text-area">
                    @ViewModel.Notes
                </div>
            }
            else
            {
                <InputTextArea class="form-control" @bind-Value=ViewModel.Notes
                    disable="@Disabled"
                    DisplayName=@(NameFor(nameof(InvestmentModelViewModel.Notes))) />
            }
        </ModelFormLineItem>
    </ModelForm>
}