@inherits ModelCRUD<InvestmentModelTargetViewModel>

@if(Model is null)
{
    <LoadingSvg />
}
else
{
    <div class="section-header">
        <h4 class="title">
            @Model.ParentAttribute.DisplayName
            <span class="sub-title">
                (@Model.EffectiveDate.ToShortDateString())
            </span>
        </h4>
    </div>
    <DataGrid Data="@Model.MemberEntries">
        <ValidationMessage For=@(() => Model.SumOfMemberWeights) />
            @if(ReadOnly)
            {
                <DataGridColumn 
                    Property=@nameof(InvestmentStrategyTarget.AttributeMemberId)
                    Caption=@(NameFor<InvestmentStrategyTarget>(nameof(InvestmentStrategyTarget.AttributeMemberId)))>
                            <CellTemplate Context="model">
                                @model.AttributeMember.DisplayName
                            </CellTemplate>
                </DataGridColumn>
                <DataGridColumn 
                    Property=@nameof(InvestmentStrategyTarget.Weight)
                    Caption=@(NameFor<InvestmentStrategyTarget>(nameof(InvestmentStrategyTarget.Weight)))>
                        <CellTemplate Context="model">
                            @model.Weight
                        </CellTemplate>
                </DataGridColumn>
            }
            else
            {
                <DataGridColumn 
                    Property=@nameof(InvestmentStrategyTarget.AttributeMemberId)
                    Caption=@(NameFor<InvestmentStrategyTarget>(nameof(InvestmentStrategyTarget.AttributeMemberId)))>
                        <CellEditTemplate Context="model">
                            <InputSelect class="form-control"
                                @bind-Value="@model.AttributeMemberId">
                                @foreach(var member in AttributeMemberLookup)
                                {
                                    <option value="@member.Key">@member.Display</option>
                                }
                            </InputSelect>
                        </CellEditTemplate>
                </DataGridColumn>
                <DataGridColumn 
                    Property=@nameof(InvestmentStrategyTarget.Weight)
                    Caption=@(NameFor<InvestmentStrategyTarget>(nameof(InvestmentStrategyTarget.Weight)))>
                        <CellEditTemplate Context="model">
                            <InputNumber class="form-control" @bind-Value="@model.Weight" />
                        </CellEditTemplate>
                </DataGridColumn>
            }
    </DataGrid>
}

@code{
    [Parameter]
    public IEnumerable<LookupModel> AttributeMemberLookup { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        IsLoading = !ReadOnly || AttributeMemberLookup is null;
    }
}