@inherits ModelCRUD<MarketIndex>

@if(ViewModel is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TViewModel="MarketIndex">
        <ModelFormLineItem ForMember="@(() => ViewModel.IndexCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.IndexCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.IndexCode
                   disable="@Disabled"
                   DisplayName=@(NameFor(x => x.IndexCode)) />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.IndexDescription)">
            @if(ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.IndexDescription
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value=ViewModel.IndexDescription
                    disable="@Disabled"
                    DisplayName="@NameFor(x => x.IndexDescription)" />
            }
        </ModelFormLineItem>
    </ModelForm>
}

@code{
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}