@inherits ModelCRUD<SecurityTypeGroup>

@if (IsLoading)
{
    <LoadingSvg />
}
else
{
    <ModelForm TViewModel="SecurityTypeGroup">
        <ModelFormLineItem ForMember="@(() => ViewModel.SecurityTypeGroupName)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.SecurityTypeGroupName
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ViewModel.SecurityTypeGroupName"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.SecurityTypeGroupName)" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.Transactable)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.Transactable
                </div>
            }
            else
            {
                <InputCheckbox @bind-Value="ViewModel.Transactable"
                       disable="@Disabled"
                       DisplayName="@NameFor(x => x.Transactable)" />
            }
        </ModelFormLineItem>
        <ModelFormLineItem ForMember="@(() => ViewModel.DepositSource)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ViewModel.DepositSource
                </div>
            }
            else
            {
                <InputCheckbox @bind-Value="ViewModel.DepositSource"
                       disable="@Disabled"
                       DisplayName="@NameFor(x => x.DepositSource)" />
            }
        </ModelFormLineItem>
    </ModelForm>
}

@code {
    protected override void OnInitialized()
    {
        IsLoading = ViewModel is null;
    }
}
