@page "/broker-transaction-codes/edit"

@inherits ModelPage<BrokerTransactionCode>

@inject IBatchController<BrokerTransactionCode> Controller

<ThemedComponent>
    <PageTitle>@(PageTitle.UpdateMany(string.Empty).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader Header="@(PageTitle.UpdateMany(string.Empty))" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <ContentTile>
            <Body>
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="error-text">@ErrorMessage</div>
                }
                <EditForm width="100%" EditContext="@_context">
                    <ActionButtonMenu>
                        <button class="form-control button"
                            @onclick="@(async (args) => await Submit_OnClick(context, args))">
                            @Resources.Strings.Caption_Button_Save
                        </button>
                        <button class="form-control button"
                            @onclick="(async (args) => await AddNewAsync(args))">
                            @Resources.Strings.Caption_Button_Add.Format(
                        ModelMetadata.NounFor(typeof(BrokerTransactionCode))?.GetSingular())
                        </button>
                        <button class="form-control button" @onclick="Cancel_OnClick"
                            @onclick:preventDefault>
                            @Resources.Strings.Caption_Button_Cancel
                        </button>
                    </ActionButtonMenu>
                    <DataAnnotationsValidator />
                    <DataGrid Data="@BrokerTransactionCodes">
                        <DataGridColumn Property=@nameof(BrokerTransactionCode.TransactionCode)
                                    Caption=@(NameFor(nameof(BrokerTransactionCode.TransactionCode)))>
                            <CellEditTemplate Context="model">
                                <InputText class="form-control" @bind-Value=model.TransactionCode />
                                <ValidationMessage For=@(()=> model.TransactionCode) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(BrokerTransactionCode.DisplayName)
                                    Caption=@(NameFor(nameof(BrokerTransactionCode.DisplayName)))>
                            <CellEditTemplate Context="model">
                                <InputText class="form-control" @bind-Value=model.DisplayName />
                                <ValidationMessage For=@(()=> model.DisplayName) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(BrokerTransactionCode.CashEffect)
                                    Caption=@(NameFor(nameof(BrokerTransactionCode.CashEffect)))>
                            <CellEditTemplate Context="model">
                                <InputNumber class="form-control" @bind-Value=model.CashEffect />
                                <ValidationMessage For=@(()=> model.DisplayName) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(BrokerTransactionCode.ContributionWithdrawalEffect)
                                    Caption=@(NameFor(nameof(BrokerTransactionCode.ContributionWithdrawalEffect)))>
                            <CellEditTemplate Context="model">
                                <InputNumber class="form-control" @bind-Value=model.ContributionWithdrawalEffect />
                                <ValidationMessage For=@(()=> model.DisplayName) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(BrokerTransactionCode.QuantityEffect)
                                    Caption=@(NameFor(nameof(BrokerTransactionCode.QuantityEffect)))>
                            <CellEditTemplate Context="model">
                                <InputNumber class="form-control" @bind-Value=model.QuantityEffect />
                                <ValidationMessage For=@(()=> model.QuantityEffect) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Type="DataGridCellType.Button">
                            <CellEditTemplate Context="model">
                                <ToolTip Text="@Resources.Strings.Caption_Button_Delete">
                                    <button class="form-control button icon"
                                        type="button"
                                        @onclick="async (args) => await DeleteAsync(args, model)">
                                        <IonIcon Name="close-circle" />
                                    </button>
                                </ToolTip>
                            </CellEditTemplate>
                        </DataGridColumn>
                    </DataGrid>
                </EditForm>
            </Body>
        </ContentTile>
    }
</ThemedComponent>
@code {
    private IList<BrokerTransactionCode> BrokerTransactionCodes { get; set; }

    private EditContext _context;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        IsLoading = true;

        try
        {
            BrokerTransactionCodes = (await Controller.SelectAllAsync()).Value;

            if (!BrokerTransactionCodes.Any())
            {
                await AddNewAsync(args: null);
            }
        }
        finally
        {
            _context = new(BrokerTransactionCodes);
            IsLoading = BrokerTransactionCodes is null;
        }
    }

    private async Task AddNewAsync(MouseEventArgs args)
    {
        // TODO: Do something with MouseEventArgs?

        var getDefaultTask = await Controller.GetDefaultAsync();
        await Controller.AddAsync(getDefaultTask.Value);

        if (getDefaultTask.Value is BrokerTransactionCode model)
            BrokerTransactionCodes.Add(model);
    }

    private async Task DeleteAsync(MouseEventArgs args, BrokerTransactionCode model)
    {
        var result = await Controller.DeleteOrDetachAsync(model);

        if (result is OkResult)
            BrokerTransactionCodes.Remove(model);
        else
            throw new InvalidOperationException();

        // TODO: interpret the response.
    }

    private void Cancel_OnClick() => NavigationHelper.NavigateTo(IndexUriRelativePath);

    private async Task Submit_OnClick(EditContext context, MouseEventArgs args)
    {
        bool isValid = context.Validate();
        if (isValid)
        {
            var saveResult = await Controller.SaveChangesAsync();

            if (saveResult is NoContentResult)
                NavigationHelper.NavigateTo(IndexUriRelativePath);

            else if (saveResult is ObjectResult objectResult)
                ErrorMessage = (objectResult.Value as Exception)?.Message;
        }
    }
}
