@page "/custodians"

@inherits ModelIndex<AccountCustodian>

<ThemedComponent>
    <PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

    <ModelPageMenuHeader ActionMenu="@ActionMenu" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <ContentTile>
            <Body>
                <DataGrid Data="@Models">
                    <DataGridColumn 
                        Property=@nameof(AccountCustodian.CustodianCode)
                        Caption=@(NameFor(nameof(AccountCustodian.CustodianCode)))>
                        <CellTemplate Context="model">
                            @model.CustodianCode
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn 
                        Property=@nameof(AccountCustodian.DisplayName)
                        Caption=@(NameFor(nameof(AccountCustodian.DisplayName)))>
                        <CellTemplate Context="model">
                            @model.DisplayName
                        </CellTemplate>
                    </DataGridColumn>
                </DataGrid>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        ActionMenu = new()
        {
            IconKey = "reorder-four",
            Caption = PageTitle.ReadMany(),
            Children = new()
            {
                { 0, new MenuItem()
                    {
                        IconKey = "pencil",
                        Caption = $"{Resources.Strings.Caption_Button_Edit} {ModelNoun.GetPlural()}",
                        UriStem = $"{IndexUriRelativePath}/edit"
                    }
                }
            }
        };

        MaxRecordCount = -1;

        await base.OnInitializedAsync();
    }
}