@page "/bank-transaction-codes"

@inherits ModelIndex<BankTransactionCode>

<PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

<ThemedComponent>
    <ModelPageMenuHeader ActionMenu="@ActionMenu" Header="@(PageTitle.ReadMany())" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <DataGrid Data="@Models">
                    <DataGridColumn 
                        Property=@nameof(BankTransactionCode.TransactionCode)
                        Caption=@(NameFor(x => x.TransactionCode))
                        Type=@DataGridCellType.Link>
                        <CellTemplate Context="model">
                            <a class="custom-nav-link" 
                            href=@(FormatDetailUri(GetKeyValueOrDefault<int>(model))) 
                            @onclick:preventDefault
                           @onclick="@(args => Detail_OnClick(model, args))">
                                @model.TransactionCode.ToLower()
                            </a>
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn Property=@nameof(BankTransactionCode.DisplayName)
                                Caption=@(NameFor(x => x.DisplayName))>
                        <CellTemplate Context="model">
                            @model.DisplayName
                        </CellTemplate>
                    </DataGridColumn>
                </DataGrid>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    protected override async Task OnInitializedAsync()
    {
        ActionMenu = GetDefaultIndexMenu();

        MaxRecordCount = -1;

        await base.OnInitializedAsync();
    }

    private void Detail_OnClick(BankTransactionCode model, MouseEventArgs args)
    {
        NavigationHelper.NavigateTo(FormatDetailUri(model.TransactionCodeId));
    }
}
