@page "/composites/{AccountCompositeId:int}/detail"

@inherits ModelDetail<AccountComposite>

@inject IReferenceDataService ReferenceData

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.ReadSingle(Model.AccountCompositeCode).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader 
            ActionMenu="@ActionMenu" 
            Header="@(PageTitle.ReadSingle(Model.AccountCompositeCode))" />

        <CascadingValue Value="@ViewModel">
            <EditForm class="model-editor" Model="@ViewModel">
                <ContentTile>
                    <Body>
                        <AccountCompositeCRUD Disabled="false" ReadOnly="true" />
                    </Body>
                </ContentTile>
                <ContentTile>
                    <Body>
                        <AccountCompositeMembersCRUD 
                            Accounts="@Accounts" Disabled="false" ReadOnly="true" />
                    </Body>
                </ContentTile>
            </EditForm>
        </CascadingValue>
    }
</ThemedComponent>

@code {
    [Parameter]
    public int AccountCompositeId { get; set; }

    private IEnumerable<LookupModel> Accounts { get; set; }

    private AccountCompositeViewModel ViewModel { get; set; }

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {

        IsLoading = true;

        try
        {
            var accountQuery = await Controller.ReadAsync(AccountCompositeId);
            if (accountQuery.Value is AccountComposite composite)
                Model = composite;

            ActionMenu = new()
                {
                    IconKey = "reorder-four",
                    Children = new()
                    {
                        // Add index button.
                        { 0, new MenuItem()
                            {
                                IconKey = "list",
                                Caption = string.Format(
                                    Strings.Caption_ViewMany, ModelNoun?.GetPlural()),
                                UriStem = $"{IndexUriRelativePath}"
                            }
                        },
                        // Add edit button.
                        { 1, new MenuItem()
                            {
                                IconKey = "pencil",
                                Caption = string.Format(
                                    Strings.Caption_EditSingle, ModelNoun?.GetSingular()),
                                UriStem = FormatEditUri(GetKeyValueOrDefault<int>(Model))
                            }
                        }
                    }
                };

            Accounts = (await ReferenceData.AccountListAsync()).ToLookups();
            ViewModel = new(Model);
        }
        finally
        {
            IsLoading = Accounts is null || Model is null;
        }

        // TODO: Take corrective action here, accountQuery.Value should be Account
    }
}
