@page "/composites/{AccountCompositeId:int}/edit"

@inherits ModelDetail<AccountComposite>

@inject IReferenceDataService ReferenceData

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.UpdateSingle(Model.AccountCompositeCode).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader 
            ActionMenu="@ActionMenu" Header="@(PageTitle.UpdateSingle(Model.AccountCompositeCode))" />

        <CascadingValue Value="@ViewModel">
            <EditForm class="model-editor" 
                Model="@ViewModel" 
                OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ContentTile>
                    <Body>
                        <ActionButtonMenu>
                            <button type="submit" class="form-control button">
                                @Strings.Caption_Button_Save
                            </button>
                            <button type="button" class="form-control button"
                                @onclick="(async (args) => await Delete_OnClick())"
                                @onclick:preventDefault>
                                @Strings.Caption_Button_Delete
                            </button>
                            <button type="button" class="form-control button"
                                @onclick="Cancel_OnClick"
                                @onclick:preventDefault>
                                @Strings.Caption_Button_Cancel
                            </button>
                        </ActionButtonMenu>
                        <AccountCompositeCRUD Disabled="false" ReadOnly="false" />
                    </Body>
                </ContentTile>
                <ContentTile>
                    <Body>
                        <AccountCompositeMembersCRUD 
                            Accounts="@Accounts" Disabled="false" ReadOnly="false" />
                    </Body>
                </ContentTile>
            </EditForm>
        </CascadingValue>
    }
</ThemedComponent>

@code {
    [Parameter]
    public int AccountCompositeId { get; set; }

    private IEnumerable<LookupModel> Accounts { get; set; }

    private AccountCompositeViewModel ViewModel { get; set; }

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var compositeQuery = Controller.ReadAsync(AccountCompositeId);
            var accountsQuery = ReferenceData.AccountListAsync();

            await Task.WhenAll(compositeQuery, accountsQuery);

            Model = (await compositeQuery).Value;
            Accounts = (await accountsQuery).ToLookups();

            ViewModel = new(Model);
        }
        finally
        {
            IsLoading = Model is null || Accounts is null || ViewModel is null;
        }
    }

    private void Cancel_OnClick()
    {
        NavigationHelper.NavigateTo(FormatDetailUri(AccountCompositeId));
    }

    private async Task Delete_OnClick()
    {
        var result = await Controller.DeleteAsync(Model);

        if (result is NoContentResult ncr)
            NavigationHelper.NavigateTo(IndexUriRelativePath);
    }

    private async Task HandleValidSubmit()
    {
        Model = ViewModel.ToEntity();

        var result = await Controller.UpdateAsync(AccountCompositeId, Model);

        if (result.Value is not null)
            NavigationHelper.NavigateTo(FormatDetailUri(result.Value.AccountCompositeId));
    }
}
