@page "/countries/{ModelId:int}/detail"

@inherits ModelDetail<Country>

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.ReadSingle(Model.DisplayName).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader ActionMenu="@ActionMenu"
                         Header="@(PageTitle.ReadSingle(Model.DisplayName))" />


        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <CascadingValue Value="@ModelDto">
                    <EditForm class="model-editor" Model="@ModelDto">
                        <CountryViewModelCRUD Disabled="false" ReadOnly="true" />
                    </EditForm>
                </CascadingValue>
            </Body>
        </ContentTile>
        @foreach (var group in ModelDto.CurrentEntryCollectionGroups.OrderBy(g =>
            g.ParentAttribute.DisplayName))
        {
            <ContentTile>
                <Body>
                    <CascadingValue Value="@group">
                        <EditForm class="model-editor" Model="@group">
                            <CountryAttributesCRUD 
                                Disabled="false"
                                ReadOnly="true" />
                        </EditForm>
                    </CascadingValue>
                </Body>
            </ContentTile>
        }
    }
</ThemedComponent>

@code {
    [Parameter]
    public int ModelId { get; init; }

    private CountryDto ModelDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var modelQuery = Controller.ReadAsync(ModelId);

            if ((await modelQuery).Value is Country model)
                Model = model;

            ActionMenu = new()
                {
                    IconKey = "reorder-four",
                    Children = new()
                    {
                        // Add return to index button.
                        { 0, new MenuItem()
                            {
                                IconKey = "caret-back-circle",
                                Caption = string.Format(
                                    Strings.Caption_NavigateBackTo,
                                    ModelNoun.GetPlural()),
                                UriStem = $"{IndexUriRelativePath}"
                            }
                        },
                        { 1, new MenuItem()
                            {
                                IconKey = "pencil",
                                Caption = string.Format(
                                                Strings.Caption_EditSingle,
                                                ModelNoun.GetSingular()),
                                UriStem = $"{FormatEditUri(Model.CountryId)}"
                            }
                        }
                    }
                };

            ModelDto = new(Model);
        }
        finally
        {
            IsLoading = Model is null || ModelDto is null;
        }
    }
}