@page "/Accounts/Details/{AccountId:int}"
@inherits ModelView
@inject IController<Account> Controller

@if(account is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h3>Account</h3>
        <dl class="row">
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<AccountObject>(nameof(AccountObject.AccountObjectCode)))">
                    @(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.AccountObjectCode)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNavigation.AccountObjectCode
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<AccountObject>(nameof(AccountObject.StartDate)))">
                    @(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.StartDate)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNavigation.StartDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<AccountObject>(nameof(AccountObject.CloseDate)))">
                    @(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.CloseDate)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNavigation.CloseDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.AccountNumber)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.AccountNumber)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNumber
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.DisplayOrder)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.DisplayOrder)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.DisplayOrder
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.BooksClosedDate)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.BooksClosedDate)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.BooksClosedDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.IsComplianceTradable)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.IsComplianceTradable)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.IsComplianceTradable
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.HasWallet)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.HasWallet)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.HasWallet
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.HasBankTransaction)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.HasBankTransaction)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.HasBankTransaction
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.HasBrokerTransaction)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.HasBrokerTransaction)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.HasBrokerTransaction
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@(ModelMetadata.DescriptionFor<Account>(nameof(Account.AccountCustodianId)))">
                    @(ModelMetadata.NameFor<Account>(nameof(Account.AccountCustodianId)))
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountCustodian?.CustodianCode
            </dd>
        </dl>
    </div>
}
@code {
    [Parameter]
    public int? AccountId { get; set; }

    private Account account;

    protected override async Task OnInitializedAsync()
    {
        var actionResult = await Controller.ReadAsync(AccountId);
        account = actionResult.Value;
    }
}
