@page "/Accounts/Details/{AccountId:int}"
@inherits ModelView
@inject IController<Account> Controller

@if(account is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h3>Account</h3>
        <dl class="row">
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(AccountObject), nameof(AccountObject.AccountObjectCode))?.Description">
                    @TryGetMetadata(typeof(AccountObject), nameof(AccountObject.AccountObjectCode))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNavigation.AccountObjectCode
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(AccountObject), nameof(AccountObject.StartDate))?.Description">
                    @TryGetMetadata(typeof(AccountObject), nameof(AccountObject.StartDate))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNavigation.StartDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(AccountObject), nameof(AccountObject.CloseDate))?.Description">
                    @TryGetMetadata(typeof(AccountObject), nameof(AccountObject.CloseDate))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNavigation.CloseDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.AccountNumber))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.AccountNumber))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountNumber
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.DisplayOrder))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.DisplayOrder))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.DisplayOrder
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.BooksClosedDate))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.BooksClosedDate))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.BooksClosedDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.IsComplianceTradable))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.IsComplianceTradable))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.IsComplianceTradable
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.HasWallet))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.HasWallet))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.HasWallet
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.HasBankTransaction))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.HasBankTransaction))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.HasBankTransaction
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.HasBrokerTransaction))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.HasBrokerTransaction))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.HasBrokerTransaction
            </dd>
            <dt class="col-sm-2">
                <ToolTip Text="@TryGetMetadata(typeof(Account), nameof(Account.AccountCustodianId))?.Description">
                    @TryGetMetadata(typeof(Account), nameof(Account.AccountCustodianId))?.DisplayName
                </ToolTip>
            </dt>
            <dd class="col-sm-10">
                @account.AccountCustodian?.CustodianCode
            </dd>
        </dl>
    </div>
}
@code {
    [Parameter]
    public int? AccountId { get; set; }

    private Account account;

    protected override async Task OnInitializedAsync()
    {
        var metadataTask = Task.Run(() => PopulateModelMetadata(ModelMetadata));
        var actionResult = await Controller.ReadAsync(AccountId);

        await metadataTask;

        account = actionResult.Value;

    }

    private void PopulateModelMetadata(IDictionary<string, ModelMetadata> metadata)
    {
        foreach(var mm in UIHelper.GetModelMetadata<AccountObject>())
        {
            metadata.TryAdd(mm.DeclaringMemberName, mm);
        }

        foreach(var mm in UIHelper.GetModelMetadata<Account>())
        {
            metadata.TryAdd(mm.DeclaringMemberName, mm);
        }
    }
}
