@page "/Accounts/Details/{AccountId:int}"

@inherits ModelCRUD<Account>

<div><h3>@ModelMetadata.NounFor(typeof(Account))?.GetSingular()?.ToTitleCase()</h3></div>
@if (IsLoading)
{
    <p><em>@Resources.UserInterfaceString.Page_Loading_Caption</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="@(args => NavigateToEdit(args))">
        @Resources.UserInterfaceString.Edit_Button_Caption
    </button>
    <div>
        <AccountObjectCRUD Model="@Model.AccountNavigation" IsDisabled=true />
    </div>
    <div>
        <AccountCRUD Model="@Model" AccountCustodians=@custodians IsDisabled=true />
    </div>
}
@code {
    [Parameter]
    public int? AccountId { get; set; }

    private IEnumerable<AccountCustodian> custodians = new AccountCustodian[0];

    protected override async Task OnInitializedAsync()
    {
        var actionResult = await Controller.ReadAsync(AccountId);
        Model = actionResult.Value;

        IsLoading = Model is null;
    }

    private void NavigateToEdit(MouseEventArgs args)
    {
        if (IsLoading)
            return;
        
        NavigationHelper.NavigateTo($"/Accounts/Edit/{Model?.AccountId ?? default}");
    }
}
