@page "/Accounts"
@inject IModelService<Account> AccountService

@if (Accounts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>Accounts</h4>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(AccountObject), nameof(Account.AccountNavigation.AccountObjectCode))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.AccountNumber))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.DisplayOrder))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.BooksClosedDate))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.IsComplianceTradable))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.HasWallet))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.HasBankTransaction))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.HasBrokerTransaction))
                    </th>
                    <th>
                        @ModelMetadataHelper.GetDisplayName(typeof(Account), nameof(Account.AccountCustodianId))
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Accounts)
                {
                    <tr>
                        <td>@account.AccountNavigation.AccountObjectCode</td>
                        <td>@account.AccountNumber</td>
                        <td>@account.DisplayOrder</td>
                        <td>@account.BooksClosedDate?.ToString(CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern)</td>
                        <td>@account.IsComplianceTradable.ToString()</td>
                        <td>@account.HasWallet</td>
                        <td>@account.HasBankTransaction.ToString()</td>
                        <td>@account.HasBrokerTransaction.ToString()</td>
                        <td>@account.AccountCustodian?.CustodianCode</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@account.AccountId">Details</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code{
    private IEnumerable<Account> Accounts;

    protected override async Task OnInitializedAsync()
    {
        Accounts = await AccountService.SelectWhereAysnc(x => true, maxCount: 0);
    }
}