@page "/style-sheets"

@inherits ModelIndex<ReportStyleSheet>

<PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

<ThemedComponent>
    <ModelPageHeader ActionMenu="@SectionNavigationMenu" Header="@(PageTitle.ReadMany())" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <DataGrid Data="@Models">
                    <DataGridColumn Property=@nameof(ReportStyleSheet.StyleSheetCode)
                                Caption=@(NameFor(x => x.StyleSheetCode))
                                Type=@DataGridCellType.Link>
                        <CellTemplate Context="model">
                            <a class="custom-nav-link" href=@(FormatDetailUri(model.StyleSheetId))
                                @onclick:preventDefault
                                @onclick="@(args => Detail_OnClick(model, args))">
                                @model.StyleSheetCode
                            </a>
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn Property=@nameof(ReportStyleSheet.StyleSheetDescription)
                                Caption=@(NameFor(x => x.StyleSheetDescription))>
                        <CellTemplate Context="model">
                            @model.StyleSheetDescription
                        </CellTemplate>
                    </DataGridColumn>
                </DataGrid>
            </Body>
        </ContentTile>
    }
</ThemedComponent>


@code {
    private void Detail_OnClick(ReportStyleSheet model, MouseEventArgs args)
    {
        NavigationHelper.NavigateTo(FormatDetailUri(model.StyleSheetId));
    }
}