@if(Model is not null)
{
    <EditForm class="paginator" Model="Model" >
        <div class="control-container">
            <button class="form-control button icon" type="button"
                @onclick="@((args) => Model.MoveStart())">
                <IonIcon Name="play-skip-back-circle" />
            </button>
            <button class="form-control button icon" type="button"
                    @onclick="@((args) => Model.MovePrevious())">
                <IonIcon Name="caret-back-circle" />
            </button>
            <InputNumber class="form-control" @bind-Value="@Model.PageIndex" />
            <button class="form-control button icon" type="button"
                @onclick="@((args) => Model.MoveNext())">
                <IonIcon Name="caret-forward-circle" />
            </button>
            <button class="form-control button icon" type="button"
                @onclick="@((args) => Model.MoveEnd())">
                <IonIcon Name="play-skip-forward-circle" />
            </button>
            <div class="pagination-caption">
                @RecordsCaption
            </div>
        </div>
    </EditForm>
}
 
@code {
    /// <summary>
    /// Gets or sets the <see cref="PagerModel" /> instance bound to this component.
    /// </summary>
    [Parameter, EditorRequired]
    public PagerModel Model { get; init; } = new();

    /// <summary>
    /// Gets or sets the delegate for handling a change to the current page index.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<int> IndexChanged { get; init; }

    /// <summary>
    /// Gets or sets the delegate for handling a change to desired page size.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<int> PageSizeChanged { get; init; }

    private string PageCaption => Strings.Caption_PageCount.Format(Model.PageCount.ToString());

    private string RecordsCaption => Strings.Caption_RecordCount_WithTotal
        .Format(Model.ItemCount.ToString(), Model.TotalItemCount.ToString());

    protected override void OnInitialized()
    {
        Model.PropertyChanged += OnPropertyChanged;
    }

    private void OnPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs args)
    {
        if (args.PropertyName == nameof(PagerModel.PageIndex) && 
            IndexChanged.HasDelegate)
        {
            IndexChanged.InvokeAsync(Model.PageIndex);
        }
        else if (args.PropertyName == nameof(PagerModel.PageSize) &&
            PageSizeChanged.HasDelegate)
        {
            PageSizeChanged.InvokeAsync(Model.PageSize);
        }

    }
}