@page "/accounts/{AccountId:int}/edit/wallets"

@inherits ModelPage<AccountWallet>

@inject IBatchController<AccountWallet> Controller

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {   
        <PageTitle>@(PageTitle.UpdateSingle(ParentAccount.AccountCode).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader Header="@(PageTitle.UpdateMany(ParentAccount.AccountCode))" />

        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <EditForm width="100%" Model="@Wallets">
                    <ActionButtonMenu>
                        <button class="form-control button" 
                            @onclick="@(async (args) => await Submit_OnClick(context, args))">
                            @Strings.Caption_Button_Save
                        </button>
                        <button class="form-control button" 
                            @onclick=@(async (args) => await AddNewAsync(args))>
                            @Strings.Caption_CreateNew.Format(ModelNoun?.GetSingular())
                        </button>
                        <button class="form-control button" @onclick="Cancel_OnClick"
                            @onclick:preventDefault>
                            @Strings.Caption_Button_Cancel
                        </button>
                    </ActionButtonMenu>
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <DataGrid Data="@Wallets">
                        <DataGridColumn 
                            Property=@nameof(AccountWallet.DenominationSecurityId)
                            Caption=@(ModelMetadata.NameFor<AccountWallet>(x => x.DenominationSecurityId))
                            width="20%">
                            <CellEditTemplate Context="model">
                                <InputSelect class="form-control"
                                    @bind-Value="@model.DenominationSecurityId">
                                    @foreach (var security in DenominationSecurities)
                                    {
                                        <option value=@security.Key>@security.Display</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For=@(()=> model.DenominationSecurityId) />
                                </CellEditTemplate>
                            </DataGridColumn>
                        <DataGridColumn 
                            Property=@nameof(AccountWallet.AddressCode)
                            Caption=@(ModelMetadata.NameFor<AccountWallet>(x => x.AddressCode))
                            width="45%">
                                <CellEditTemplate Context="model">
                                    <InputText class="form-control" @bind-Value="@model.AddressCode" />
                                    <ValidationMessage For=@(()=> model.AddressCode) />
                                </CellEditTemplate>
                            </DataGridColumn>
                        <DataGridColumn 
                            Property=@nameof(AccountWallet.AddressTag)
                            Caption=@(ModelMetadata.NameFor<AccountWallet>(x => x.AddressTag))
                            width="35%">
                                <CellEditTemplate Context="model">
                                    <InputText class="form-control" @bind-Value="@model.AddressTag" />
                                    <ValidationMessage For=@(()=> model.AddressTag) />
                                </CellEditTemplate>
                            </DataGridColumn>
                            <DataGridColumn Type="DataGridCellType.Button">
                                <CellEditTemplate Context="model">
                                    <ToolTip Text="@Strings.Caption_Button_Delete">
                                        <button class="form-control button icon"
                                            type="button"
                                            @onclick="async (args) => await DeleteAsync(args, model)">
                                            <IonIcon Name="close-circle" />
                                        </button>
                                    </ToolTip>
                                </CellEditTemplate>
                            </DataGridColumn>
                        </DataGrid>
                </EditForm>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    [Parameter]
    public int AccountId { get; set; }

    private IList<AccountWallet> Wallets { get; set; }

    private IEnumerable<LookupModel<int, string>> DenominationSecurities { get; set; }

    private Account ParentAccount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            ParentAccount = (
                await Controller.ReferenceQueries
                    .GetSingleAsync<Account>(
                        predicate: a => a.AccountId == AccountId,
                        path: a => a.AccountNavigation)).Value;

            var initResult = await Controller.ForParent(ParentAccount.AccountId);

            if (initResult is not OkResult)
                throw new InvalidOperationException();

            var denominationDtosTask = Controller.ReferenceQueries
                .GetCryptocurrencyDTOsAsync();
            var walletsTask = Controller.SelectAllAsync();

            var dataTasks = Task.WhenAll(denominationDtosTask, walletsTask);
            await dataTasks;

            if (dataTasks.Status == TaskStatus.RanToCompletion)
            {
                Wallets = (await walletsTask).Value;
                DenominationSecurities = (await denominationDtosTask).Value;

                if (!Wallets.Any())
                {
                    await AddNewAsync(args: null);
                }
            }
            else
            {
                throw dataTasks.Exception.Flatten();
            }

        }
        finally
        {
            IsLoading = Wallets is null || ParentAccount is null || DenominationSecurities is null;
        }
    }

    private async Task AddNewAsync(MouseEventArgs args)
    {
        // TODO: Do something with MouseEventArgs?

        var getDefaultTask = await Controller.GetDefaultAsync();
        await Controller.AddAsync(getDefaultTask.Value);

        if (getDefaultTask.Value is AccountWallet w)
            Wallets.Add(w);
    }

    private async Task DeleteAsync(MouseEventArgs args, AccountWallet wallet)
    {
        var result = await Controller.DeleteOrDetachAsync(wallet);

        if (result is OkResult)
            Wallets.Remove(wallet);
        else
            throw new InvalidOperationException();

        // TODO: interpret the response.
    }

    private void Cancel_OnClick() => NavigationHelper
        .NavigateTo($"{IndexUriRelativePath}/{AccountId}/detail");

    private async Task Submit_OnClick(EditContext context, MouseEventArgs args)
    {
        bool isValid = context.Validate();
        if (isValid)
        {
            var saveResult = await Controller.SaveChangesAsync();

            if (saveResult is NoContentResult)
                NavigationHelper.NavigateTo($"{IndexUriRelativePath}/{AccountId}/detail");

            else if (saveResult is ObjectResult objectResult)
                ErrorMessage = (objectResult.Value as Exception)?.Message;
        }
    }
}