@page "/report-configurations/{ModelId:int}/detail"

@inherits ModelDetail<ReportConfigurationDto>

@if (IsLoading)
{
    <LoadingSvg />
}
else
{
    <PageTitle>@(PageTitle.ReadSingle(Model.ConfigurationCode).AsPageTitle())</PageTitle>

    <ModelPageHeader ActionMenu="@SectionNavigationMenu"
                        Header="@(PageTitle.ReadSingle(Model.ConfigurationCode))" />

    <CascadingValue Value="@ErrorMessage">
        <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
    </CascadingValue>

    <ContentTile>
        <Body>
            <CascadingValue Value="@Model">
                <EditForm class="model-editor" Model="@Model">
                    <ReportConfigurationCRUD Disabled="false" ReadOnly="true" />
                </EditForm>
            </CascadingValue>
        </Body>
    </ContentTile>
}

@code {
    [Parameter]
    public int ModelId { get; init; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            Model = await HttpService.GetAsync(ModelId);
        }
        finally
        {
            IsLoading = Model is null;
        }
    }
}