@page "/Accounts"

@layout PageLayout

@inherits ModelIndex<Account>

<PageTitle>@(ViewService.Header?.AsPageTitle() ?? Resources.Strings.Title_NotFound)</PageTitle>

<div>
    <a class="link-button" href="@($"{PageIndexUri}/Create")"
       @onclick="@(args => NavigateToCreate($"{Guid.NewGuid()}"))"
       @onclick:preventDefault>
        @Resources.Strings.Caption_Button_Create
    </a>
</div>

@if (Models is null)
{
    <p><em>@Resources.Strings.Caption_Page_Loading</em></p>
}
else
{
    <div>
        <SearchInputTable TModel=@Account
                      ComparisonOperators=@ComparisonOperators
                      ExpressionBuilder=@ExpressionBuilder
                      SearchFields=@SearchFields
                      OnSearchClick=@(args => SearchClicked(args))>
        </SearchInputTable>
    </div>
    <span>
        <DataGrid Data="@Models" class="datagrid">
            <DataGridColumn Property=@nameof(Account.AccountNavigation.AccountObjectCode)
                        Caption=@(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.AccountObjectCode)))>
                <CellTemplate Context="model">
                    <a href="@($"{PageIndexUri}/Details/{model.AccountId}")" @onclick="@(args => NavigateToDetail(model, args))"
                   @onclick:preventDefault>
                        @model.AccountNavigation.AccountObjectCode.ToUpper()
                    </a>
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.AccountNavigation.ObjectDisplayName)
                        Caption=@(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.ObjectDisplayName)))>
                <CellTemplate Context="model">
                    @model.AccountNavigation.ObjectDisplayName
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.AccountNavigation.ObjectDescription)
                        Caption=@(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.ObjectDescription)))>
                <CellTemplate Context="model">
                    @model.AccountNavigation.ObjectDescription
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.AccountNavigation.StartDate)
                        Caption=@(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.StartDate)))>
                <CellTemplate Context="model">
                    @model.AccountNavigation.StartDate.ToShortDateString()
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.AccountNavigation.CloseDate)
                        Caption=@(ModelMetadata.NameFor<AccountObject>(nameof(AccountObject.CloseDate)))>
                <CellTemplate Context="model">
                    @model.AccountNavigation.CloseDate?.ToShortDateString()
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.AccountNumber)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.AccountNumber)))>
                <CellTemplate Context="model">
                    @model.AccountNumber
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.DisplayOrder)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.DisplayOrder)))>
                <CellTemplate Context="model">
                    @model.DisplayOrder
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.BooksClosedDate)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.BooksClosedDate)))>
                <CellTemplate Context="model">
                    @model.BooksClosedDate?.ToShortDateString()
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.IsComplianceTradable)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.IsComplianceTradable)))>
                <CellTemplate Context="model">
                    @model.IsComplianceTradable
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.HasWallet)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.HasWallet)))>
                <CellTemplate Context="model">
                    @model.HasWallet
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.HasBankTransaction)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.HasBankTransaction)))>
                <CellTemplate Context="model">
                    @model.HasBankTransaction
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.HasBrokerTransaction)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.HasBrokerTransaction)))>
                <CellTemplate Context="model">
                    @model.HasBrokerTransaction
                </CellTemplate>
            </DataGridColumn>
            <DataGridColumn Property=@nameof(Account.AccountCustodian.CustodianCode)
                        Caption=@(ModelMetadata.NameFor<Account>(nameof(Account.AccountCustodianId)))>
                <CellTemplate Context="model">
                    @model.AccountCustodian?.CustodianCode
                </CellTemplate>
            </DataGridColumn>
        </DataGrid>
    </span>
}

@code {

    /// <inheritdoc/>
    protected override Task OnInitializedAsync()
    {
        MaxRecordCount = -1;

        ViewService.Header = Resources.Strings.Title_AccountIndex;

        return base.OnInitializedAsync();
    }

    private void NavigateToDetail(Account model, MouseEventArgs args)
    {
        NavigateToDetail($"{model.AccountId}");
    }
}