@page "/Accounts/Create/{RequestGuid:guid}"

@inherits ModelDetail<Account>

@inject IReferenceDataService ReferenceData

<PageTitle>@(PageTitle.CreateSingle().AsPageTitle())</PageTitle>

<ThemedComponent>
    <ModelPageMenuHeader Header="@(PageTitle.CreateSingle())" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <ContentTile>
            <Body>
                <CascadingValue Value="@ViewModel">
                    <EditForm class="model-editor" Model="@ViewModel" 
                        OnValidSubmit="HandleValidSubmit" >
                        <DataAnnotationsValidator />
                        <ActionButtonMenu>
                            <button type="submit" class="form-control button">
                                @Resources.Strings.Caption_Button_Save
                            </button>
                            <button class="form-control button" @onclick="Cancel_OnClick"
                                @onclick:preventDefault >
                                @Resources.Strings.Caption_Button_Cancel
                            </button>
                        </ActionButtonMenu>
                        <AccountCRUD AccountCustodians="@Custodians" 
                            Disabled="false" ReadOnly="false" />
                    </EditForm>
                </CascadingValue>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    [Parameter]
    public Guid RequestGuid { get; init; }

    private IEnumerable<LookupModel> Custodians { get; set; }

    private AccountViewModel ViewModel { get; set; }

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var getDefaultModelTask = Controller.GetDefaultAsync();
            var refreshCustodianListTask = ReferenceData.AccountCustodianListAsync();

            Model = (await getDefaultModelTask).Value;
            Custodians = (await refreshCustodianListTask).ToLookups();

            ViewModel = new(Model);
        }
        finally
        {
            IsLoading = Model is null || Custodians is null;
        }
    }

    private void Cancel_OnClick()
    {
        NavigationHelper.NavigateTo(IndexUriRelativePath);
    }

    private async Task HandleValidSubmit()
    {
        Model = ViewModel.ToAccount();

        var result = await Controller.CreateAsync(Model);

        if (result.Result is CreatedAtActionResult cr)
            NavigationHelper.NavigateTo(FormatDetailUri(cr.RouteValues["id"]));
    }
}
