@page "/Accounts/{AccountId:int}/Edit"

@inherits ModelDetail<Account>

@inject IReferenceDataService ReferenceData

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.UpdateSingle(Model.AccountCode).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader ActionMenu="@ActionMenu" Header="@(PageTitle.UpdateSingle(Model.AccountCode))" />

            <EditForm class="model-editor" Model="@ViewModel" 
                OnValidSubmit="HandleValidSubmit" >
                <DataAnnotationsValidator/>
                @*<ValidationSummary/>*@
                <ActionButtonMenu>
                    <button type="button" class="form-control button" 
                        @onclick="Cancel_OnClick"
                        @onclick:preventDefault >
                        @Resources.Strings.Caption_Button_Cancel
                    </button>
                    <button type="button" class="form-control button" 
                        @onclick="Delete_OnClick"
                        @onclick:preventDefault >
                        @Resources.Strings.Caption_Button_Delete
                    </button>
                    <button type="submit" class="form-control button">
                        @Resources.Strings.Caption_Button_Save
                    </button>
                </ActionButtonMenu>
                <div>
                    <AccountCRUD Model="@ViewModel" AccountCustodians="@Custodians" 
                        Disabled="@_disabled" ReadOnly="@_readonly" />
                </div>
            </EditForm>
    }
</ThemedComponent>

@code {
    /// <summary>
    /// Gets or sets the identifier for the <see cref="Account" /> worked using this page.
    /// </summary>
    [Parameter]
    public int AccountId { get; set; }

    private IEnumerable<LookupModel> Custodians { get; set; }

    private AccountViewModel ViewModel { get; set; }

    private const bool _disabled = false;
    private const bool _readonly = false;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        ActionMenu = new()
        {
            IconKey = "reorder-four",
            Children = new()
            {
                // Add index button.
                { 0, new MenuItem()
                    {
                        IconKey = "list",
                        Caption = $"{Resources.Strings.Caption_Button_Index}",
                        UriStem = $"{IndexUriRelativePath}"
                    }
                },
                // Add delete button.
                { 1, new MenuItem()
                    {
                        IconKey = "close",
                        Caption = $"{Resources.Strings.Caption_Button_Delete} {ModelNoun.GetSingular()}",
                        UriStem = $"#"
                    }
                }
            }
        };            

        IsLoading = true;

        try
        {
            var accountQuery = Controller.ReadAsync(AccountId);
            var custodiansQuery = ReferenceData.AccountCustodianListAsync();
            if ((await accountQuery).Value is Account account)
            {
                Model = account;
            }

            Custodians = await custodiansQuery;

            ViewModel = new(Model);
        }
        finally
        {
            IsLoading = Model is null || Custodians is null;
        }
    }

    private void Cancel_OnClick()
    {
        NavigationHelper.NavigateTo(FormatDetailUri(AccountId));
    }

    private async Task Delete_OnClick()
    {
        var result = await Controller.DeleteAsync(Model!);

        if (result is NoContentResult ncr)
            NavigationHelper.NavigateTo(IndexUriRelativePath);
    }

    private async Task HandleValidSubmit()
    {
        Model = ViewModel.ToAccount();

        var result = await Controller.UpdateAsync(AccountId, Model);

        if (result.Value is not null)
            NavigationHelper.NavigateTo(FormatDetailUri(result.Value.AccountId));
    }
}
