@inherits LocalizableComponent

@if(IsLoading)
{
    <LoadingSvg />
}
else
{
    <CascadingValue Value="@AttributeDto">
        <Modal
            DialogOptions="DialogResult.OK | DialogResult.Cancel"
            OnClose="OnClose"
            ReadOnly="false">
            <ContentTile>
                <TitleAlignLeft>
                    @Resources.Strings.ComponentTitle_AttributeSelector
                </TitleAlignLeft>
                <Body>
                    <InputSelect 
                        class="form-control left"
                        Value="SelectedAttributeId"
                        ValueExpression="@(() => SelectedAttributeId)"
                        ValueChanged="@((int? args) => AttributeSelect_OnChange(args))">
                        <option value="">@Strings.Caption_InputSelect_Prompt</option>
                        @foreach(var attr in AllowableAttributes.OrderBy(a => a.DisplayName))
                        {
                            <option value="@attr.AttributeId">@attr.DisplayName</option>
                        }
                    </InputSelect>
                </Body>
            </ContentTile>
        </Modal>
    </CascadingValue>
}

@code{
    /// <summary>
    /// Invokes a delegate handling the selection of a <see cref="ModelAttributeDto" /> instance.
    /// </summary>
    [Parameter]
    public EventCallback<ModalEventArgs<ModelAttributeDto>> OnClose { get; set; }

    /// <summary>
    /// Gets or sets the allowable <see cref="ModelAttributeDto" /> for this selector.
    /// </summary>
    [Parameter]
    public IEnumerable<ModelAttributeDto> AllowableAttributes { get; set; } = [];

    /// <summary>
    /// Gets or sets the <see cref="ModelAttributeDto" /> instance for this selector.
    /// </summary>
    private ModelAttributeDto? AttributeDto { get; set; }

    /// <summary>
    /// Gets or sets the <see cref="int?"> identifier for the currently selected attribute.
    /// </summary>
    private int? SelectedAttributeId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        AttributeDto = AllowableAttributes.OrderBy(a => a.DisplayName).FirstOrDefault();
    }


    /// <summary>
    /// Updates the current attribute id and <see cref="AttributeDto" />.
    /// </summary>
    private void AttributeSelect_OnChange(int? eventArgs)
    {
        SelectedAttributeId = eventArgs;
        AttributeDto = AllowableAttributes.FirstOrDefault(a => a.AttributeId == eventArgs);

        StateHasChanged();
    }
}