@inherits ModelCRUD<CountryAttributeGrouping>

@if (IsLoading)
{
    <LoadingSvg />
}
else
{
    <ContentTile>
        <TitleAlignLeft>
            <div>
                @ModelDto.ParentAttribute.DisplayName
                @if (ReadOnly)
                {
                    <span class="sub-title">
                        (@ModelDto.EffectiveDate.ToShortDateString())
                    </span>
                }
            </div>
        </TitleAlignLeft>
        <TitleAlignRight>
            @if (!ReadOnly)
            {
                <label for="add-new-entry-button">
                    @(NameFor(x => x.EffectiveDate))
                </label>
                <InputDate class="form-control right" @bind-Value="@ModelDto.EffectiveDate"
                   @onchange="RefreshState" />
                <button id="add-new-entry-button"
                class="form-control button icon"
                type="button"
                @onclick="AddNew_OnClick">
                    <IonIcon Name="add" />
                </button>
            }
        </TitleAlignRight>
        <Body>
            <DataGrid Data="@ModelDto.Entries">
                <ValidationMessage For=@(() => ModelDto.SumOfMemberWeights) />
                @if(!ReadOnly)
                {
                    <DataGridColumn Type="DataGridCellType.Button">
                        <CellEditTemplate Context="model">
                            <button class="form-control button icon" type="button"
                                @onclick="(args) => RemoveExisting_OnClick(args, model)">
                                <IonIcon Name="close-circle" />
                            </button>
                        </CellEditTemplate>
                    </DataGridColumn>
                }
                @if (ReadOnly)
                {
                    <DataGridColumn Property=@nameof(CountryAttributeDto.AttributeMemberId)
                            Caption=@(ModelMetadata.NameFor<CountryAttributeDto>(x => x.AttributeMemberId))>
                        <CellTemplate Context="model">
                            @model.AttributeMember.DisplayName
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn Property=@nameof(CountryAttributeDto.PercentWeight)
                            Caption=@(ModelMetadata.NameFor<CountryAttributeDto>(x => x.PercentWeight))>
                        <CellTemplate Context="model">
                            @model.PercentWeight
                        </CellTemplate>
                    </DataGridColumn>
                }
                else
                {
                    <DataGridColumn 
                        Type="DataGridCellType.Control"
                        Property=@nameof(CountryAttributeDto.AttributeMemberId)
                        Caption=@(ModelMetadata.NameFor<CountryAttributeDto>(x => x.AttributeMemberId))>
                        <CellEditTemplate Context="model">
                            <InputSelect class="form-control"
                                 @bind-Value="@model.AttributeMemberId">
                                @foreach (var member in AttributeMembers ?? [])
                                {
                                    <option value="@member.AttributeMemberId">@member.DisplayName</option>
                                }
                            </InputSelect>
                        </CellEditTemplate>
                    </DataGridColumn>
                    <DataGridColumn
                        Type="DataGridCellType.Control"
                        Property=@nameof(CountryAttributeDto.PercentWeight)
                        Caption=@(ModelMetadata.NameFor<CountryAttributeDto>(x => x.PercentWeight))>
                        <CellEditTemplate Context="model">
                            <InputNumber class="form-control" @bind-Value="@model.PercentWeight" />
                        </CellEditTemplate>
                    </DataGridColumn>
                }
            </DataGrid>
        </Body>
    </ContentTile>
}

@code {
    [CascadingParameter(Name = nameof(AttributeMembers))]
    public IEnumerable<ModelAttributeMemberDtoBase>? AttributeMembers { get; set; }

    protected override void OnParametersSet()
    {
        IsLoading = ModelDto is null || (ReadOnly ^ (AttributeMembers is null));
    }

    private void AddNew_OnClick(MouseEventArgs e)
    {
        // TODO: Do something with MouseEventArgs ?

        ModelDto.AddNewEntry();
    }

    private void RemoveExisting_OnClick(MouseEventArgs e, CountryAttributeDto entry)
    {
        // TODO: Do something with MouseEventArgs ?

        ModelDto.RemoveEntry(entry);
    }

    private void RefreshState(EventArgs args) => StateHasChanged();
}