@inherits ModelCRUD<SecurityExchangeDto>

@if (ModelDto is null)
{
    <LoadingSvg />
}
else
{
    <ModelForm TModelDto="SecurityExchangeDto">
        <ModelFormEntry ForMember="@(() => ModelDto.ExchangeCode)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.ExchangeCode
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ModelDto.ExchangeCode"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.ExchangeCode)" />
            }
        </ModelFormEntry>
        <ModelFormEntry ForMember="@(() => ModelDto.ExchangeDescription)">
            @if (ReadOnly)
            {
                <div class="form-control">
                    @ModelDto.ExchangeDescription
                </div>
            }
            else
            {
                <InputText class="form-control" @bind-Value="ModelDto.ExchangeDescription"
                   disable="@Disabled"
                   DisplayName="@NameFor(x => x.ExchangeDescription)" />
            }
        </ModelFormEntry>
    </ModelForm>
}