@page "/countries"

@inherits ModelIndex<Country>

<ThemedComponent>
    <PageTitle>@(PageTitle.ReadMany().AsPageTitle())</PageTitle>

        <ModelPageMenuHeader ActionMenu="@ActionMenu" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <ContentTile>
            <Body>
                <SearchInputTable TModel="Country"
                              ComparisonOperators=@ComparisonOperators
                              ExpressionBuilder=@ExpressionBuilder
                              SearchFields=@SearchFields
                              OnSearchClick=@(async (args) => await SearchClicked(args))>
                </SearchInputTable>
            </Body>
        </ContentTile>

        <ContentTile>
            <Body>
                <DataGrid Data="@Models">
                    <DataGridColumn Property=@nameof(Country.DisplayName)
                                Caption=@(NameFor(nameof(Country.DisplayName)))>
                        <CellTemplate Context="model">
                            @model.DisplayName
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn Property=@nameof(Country.IsoCode3)
                                Caption=@(NameFor(nameof(Country.IsoCode3)))>
                        <CellTemplate Context="model">
                            @model.IsoCode3
                        </CellTemplate>
                    </DataGridColumn>
                    <DataGridColumn Type="DataGridCellType.Button">
                        <CellTemplate Context="model">
                            <ToolTip Text="@Resources.Strings.Caption_Properties_View">
                                <button class="form-control button icon"
                                    type="button"
                                    @onclick="(args) => OnAttributeDetailSelect(args, model)">
                                    <IonIcon Name="list-circle" />
                                </button>
                            </ToolTip>
                        </CellTemplate>
                    </DataGridColumn>
                </DataGrid>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        ActionMenu = new()
            {
                IconKey = "reorder-four",
                Caption = PageTitle.ReadMany(),
                Children = new()
            {
                { 0, new MenuItem()
                    {
                        IconKey = "pencil",
                        Caption = $"{Resources.Strings.Caption_Button_Edit} {ModelNoun.GetPlural()}",
                        UriStem = $"{IndexUriRelativePath}/edit"
                    }
                }
            }
            };

        MaxRecordCount = -1;

        await base.OnInitializedAsync();
    }

    private void OnAttributeDetailSelect(MouseEventArgs args, Country model)
    {
        NavigationHelper.NavigateTo($"{IndexUriRelativePath}/{model.CountryId}/attributes");
    }
}
