@page "/security-exchanges/edit"

@inherits ModelPage<SecurityExchange>

@inject IBatchController<SecurityExchange> Controller


<ThemedComponent>
    <PageTitle>@(PageTitle.UpdateMany(string.Empty).AsPageTitle())</PageTitle>

    <ModelPageMenuHeader Header="@(PageTitle.UpdateMany(string.Empty))" />

    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {

        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <EditForm width="100%" EditContext="@_context">
                    <ActionButtonMenu>
                        <button class="form-control button"
                            @onclick="@(async (args) => await Submit_OnClick(context, args))">
                            @Strings.Caption_Button_Save
                        </button>
                        <button class="form-control button"
                            @onclick="(async (args) => await AddNewAsync(args))">
                            @Strings.Caption_CreateNew.Format(ModelNoun?.GetSingular())
                        </button>
                        <button class="form-control button" @onclick="Cancel_OnClick"
                            @onclick:preventDefault>
                            @Strings.Caption_Button_Cancel
                        </button>
                    </ActionButtonMenu>
                    <DataAnnotationsValidator />
                    <DataGrid Data="@SecurityExchanges">
                        <DataGridColumn Property=@nameof(SecurityExchange.ExchangeCode)
                                    Caption=@(NameFor(x => x.ExchangeCode))>
                            <CellEditTemplate Context="model">
                                <InputText class="form-control" @bind-Value=model.ExchangeCode />
                                <ValidationMessage For=@(()=> model.ExchangeCode) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Property=@nameof(SecurityExchange.ExchangeDescription)
                                    Caption=@(NameFor(x => x.ExchangeDescription))>
                            <CellEditTemplate Context="model">
                                <InputText class="form-control" @bind-Value=model.ExchangeDescription />
                                <ValidationMessage For=@(()=> model.ExchangeDescription) />
                            </CellEditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Type="DataGridCellType.Button">
                            <CellEditTemplate Context="model">
                                <ToolTip Text="@Strings.Caption_Button_Delete">
                                    <button class="form-control button icon"
                                        type="button"
                                        @onclick="async (args) => await DeleteAsync(args, model)">
                                        <IonIcon Name="close-circle" />
                                    </button>
                                </ToolTip>
                            </CellEditTemplate>
                        </DataGridColumn>
                    </DataGrid>
                </EditForm>
            </Body>
        </ContentTile>
    }
</ThemedComponent>

@code {
    private IList<SecurityExchange> SecurityExchanges { get; set; }

    private EditContext _context;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        IsLoading = true;

        try
        {
            SecurityExchanges = (await Controller.SelectAllAsync()).Value;

            if(!SecurityExchanges.Any())
            {
                await AddNewAsync(args: null);
            }
        }
        finally
        {
            _context = new(SecurityExchanges);
            IsLoading = SecurityExchanges is null;
        }
    }

    private async Task AddNewAsync(MouseEventArgs args)
    {
        // TODO: Do something with MouseEventArgs?

        var getDefaultTask = await Controller.GetDefaultAsync();
        await Controller.AddAsync(getDefaultTask.Value);

        if (getDefaultTask.Value is SecurityExchange exchange)
            SecurityExchanges.Add(exchange);
    }

    private async Task DeleteAsync(MouseEventArgs args, SecurityExchange exchange)
    {
        var result = await Controller.DeleteOrDetachAsync(exchange);

        if (result is OkResult)
            SecurityExchanges.Remove(exchange);
        else
            throw new InvalidOperationException();

        // TODO: interpret the response.
    }

    private void Cancel_OnClick() => NavigationHelper.NavigateTo(IndexUriRelativePath);

    private async Task Submit_OnClick(EditContext context, MouseEventArgs args)
    {
        bool isValid = context.Validate();
        if (isValid)
        {
            var saveResult = await Controller.SaveChangesAsync();

            if (saveResult is NoContentResult)
                NavigationHelper.NavigateTo(IndexUriRelativePath);

            else if (saveResult is ObjectResult objectResult)
                ErrorMessage = (objectResult.Value as Exception)?.Message;
        }
    }
}