@page "/security-types/create/{RequestGuid:guid}"

@inherits ModelDetail<SecurityTypeDto>

@if (IsLoading)
{
    <LoadingSvg />
}
else
{
    <PageTitle>@(PageTitle.CreateSingle().AsPageTitle())</PageTitle>

    <ModelPageHeader Header="@(PageTitle.CreateSingle())" />

    <CascadingValue Value="@ErrorMessage">
        <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic"/>
    </CascadingValue>

    <CascadingValue Value="@Model">
        <EditForm class="model-editor" Model="@Model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ActionButtonMenu>
                <button type="submit" class="form-control button">
                    @Strings.Caption_Button_Save
                </button>
                <button type="button" class="form-control button"
                    @onclick="FormCancelClickHandler"
                    @onclick:preventDefault>
                    @Strings.Caption_Button_Cancel
                </button>
            </ActionButtonMenu>
            <ContentTile>
                <Body>
                    <SecurityTypeCRUD Disabled="false" ReadOnly="false"
                        SecurityTypeGroups="@SecurityTypeGroups" />
                </Body>
            </ContentTile>
        </EditForm>
    </CascadingValue>
}

@code {
    [Parameter]
    public Guid RequestGuid { get; init; }

    private IEnumerable<SecurityTypeGroupDto>? SecurityTypeGroups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var modelQuery = HttpService.InitDefaultAsync();
            var typeGroupsQuery = HttpService.GetAllAsync<SecurityTypeGroupDto>();

            await Task.WhenAll(modelQuery, typeGroupsQuery);

            Model = await modelQuery;
            SecurityTypeGroups = await typeGroupsQuery;
        }
        finally
        {
            IsLoading = Model is null || SecurityTypeGroups is null;
        }
    }

    private void FormCancelClickHandler() => NavigationHelper.NavigateTo(IndexUriRelativePath);
}