@page "/security-types/create/{RequestGuid:guid}"

@inherits ModelDetail<SecurityType>

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.CreateSingle().AsPageTitle())</PageTitle>

        <ModelPageHeader Header="@(PageTitle.CreateSingle())" />

        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic"/>
        </CascadingValue>

        <CascadingValue Value="@Model">
            <EditForm class="model-editor" Model="@Model" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ActionButtonMenu>
                    <button type="submit" class="form-control button">
                        @Strings.Caption_Button_Save
                    </button>
                    <button type="button" class="form-control button"
                        @onclick="Cancel_OnClick"
                        @onclick:preventDefault>
                        @Strings.Caption_Button_Cancel
                    </button>
                </ActionButtonMenu>
                <ContentTile>
                    <Body>
                        <SecurityTypeCRUD Disabled="false" ReadOnly="false"
                            SecurityTypeGroups="@SecurityTypeGroups" />
                    </Body>
                </ContentTile>
            </EditForm>
        </CascadingValue>
    }
</ThemedComponent>


@code {
    [Parameter]
    public Guid RequestGuid { get; init; }

    private IEnumerable<LookupModel<int, string>> SecurityTypeGroups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var modelQuery = Controller.GetDefaultAsync();
            var typeGroupsQuery = Controller.ReferenceQueries.GetSecurityTypeGroupDTOsAsync();

            var dataTasks = Task.WhenAll(modelQuery, typeGroupsQuery);
            await dataTasks;

            SecurityTypeGroups = (await typeGroupsQuery).Value;

            if ((await modelQuery).Value is SecurityType model)
                Model = model;
        }
        finally
        {
            IsLoading = Model is null || SecurityTypeGroups is null;
        }
    }

    private void Cancel_OnClick() => NavigationHelper.NavigateTo(IndexUriRelativePath);

    protected override async Task HandleValidSubmit()
    {
        var result = await RunCatchingModelUpdateException(Controller.CreateAsync(Model));

        ProcessCreatedAtAction(result?.Result as CreatedAtActionResult);
    }
}