@page "/security-types/{ModelId:int}/detail"

@inherits ModelDetail<SecurityType>

<ThemedComponent>
    @if (IsLoading)
    {
        <LoadingSvg />
    }
    else
    {
        <PageTitle>@(PageTitle.ReadSingle(Model.SecurityTypeName).AsPageTitle())</PageTitle>

        <ModelPageMenuHeader ActionMenu="@SectionNavigationMenu"
                         Header="@(PageTitle.ReadSingle(Model.SecurityTypeName))" />

        <CascadingValue Value="@ErrorMessage">
            <ErrorMessageBox Header="@Resources.Strings.Exception_Message_Generic" />
        </CascadingValue>

        <ContentTile>
            <Body>
                <CascadingValue Value="@Model">
                    <EditForm class="model-editor" Model="@Model">
                        <SecurityTypeCRUD Disabled="false" ReadOnly="true" 
                            SecurityTypeGroups="@SecurityTypeGroups" />
                    </EditForm>
                </CascadingValue>
            </Body>
        </ContentTile>
    }
</ThemedComponent>


@code {
    [Parameter]
    public int ModelId { get; init; }

    private IEnumerable<LookupModel<int, string>> SecurityTypeGroups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        try
        {
            var modelQuery = Controller.ReadAsync(ModelId);
            var typeGroupsQuery = Controller.ReferenceQueries.GetSecurityTypeGroupDTOsAsync();

            Task dataTasks = Task.WhenAll(modelQuery, typeGroupsQuery);
            await dataTasks;

            SecurityTypeGroups = (await typeGroupsQuery).Value;

            if ((await modelQuery).Value is SecurityType model)
                Model = model;
            
        }
        finally
        {
            IsLoading = Model is null || SecurityTypeGroups is null;
        }
    }
}