@page
@model EulerFinancial.Blazor.Views.Accounts.DetailsModel

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DisplayOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.BooksClosedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.BooksClosedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IsComplianceTradable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IsComplianceTradable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.HasWallet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.HasWallet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.HasBankTransaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.HasBankTransaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.HasBrokerTransaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.HasBrokerTransaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountCustodian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountCustodian.CustodianCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountNavigation.AccountObjectCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.AccountId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
