@page
@model EulerFinancial.Blazor.Views.Accounts.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].BooksClosedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].IsComplianceTradable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].HasWallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].HasBankTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].HasBrokerTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountCustodian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksClosedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplianceTradable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasWallet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBankTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBrokerTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCustodian.CustodianCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNavigation.AccountObjectCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
