@model EulerFinancial.Data.Model.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BooksClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BooksClosedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplianceTradable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplianceTradable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasWallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasWallet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBankTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBankTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBrokerTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBrokerTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCustodian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCustodian.CustodianCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNavigation.AccountObjectCode)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AccountId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
