@model EulerFinancial.Data.Model.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BooksClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BooksClosedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplianceTradable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplianceTradable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasWallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasWallet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBankTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBankTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBrokerTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBrokerTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCustodian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCustodian.CustodianCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNavigation.AccountObjectCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
